
// Import LESS variables and mixins
@import "../less/variables.less";
@import "../less/mixins.less";

// copied from .genericon as .genericon can't be extended in this file
.cb-icon {
	vertical-align: top;
	text-align: center;
	display: inline-block;
	font-family: "Genericons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	speak: none;
	position: relative;
	text-decoration: none;
}

.colorbox-icon( @icon: '', @fontSize: 16px, @right: 4px, @top: 4px ) {
	&:extend(.cb-icon);
	content: @icon;
	top: @top;
	margin-right: @right;
	.font-size(@fontSize);
}

/* =============================================================================
   ColorBox Core Style
   ========================================================================= */

#colorbox,
#cboxOverlay,
#cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}

#cboxWrapper {
	max-width: none;
}

#colorbox:focus {
	outline: 0;
}

#cboxOverlay {
	position: fixed;
	.square(100%);
}

#cboxContent {
	position: relative;
}

#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	.square(100%);
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	display: block;
	float: left;
	max-width: none;
	margin: auto;
	border: 0;
}

.cboxIframe {
	display: block;
	.square(100%);
	border: 0;
	padding: 0;
	margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
	box-sizing: content-box;
}

/* =============================================================================
   Colorbox theme for Cakifo
   ========================================================================= */

#cboxOverlay {
	background: @colorbox-bg;
}

#cboxLoadingOverlay {
	background: @colorbox-content-bg url(../images/loading.gif) no-repeat center center;
}

#cboxContent {
	background: @colorbox-content-bg;
	background-clip: padding-box; // Needed to make the border transparent
	border: 10px solid fade(@colorbox-bg, 15%);
	border-radius: 8px;
	.font-size(@font-size-small);
	padding: @colorbox-spacing @colorbox-spacing @colorbox-bar-height @colorbox-spacing;
}

#cboxCurrent,
#cboxTitle {
	position: absolute;
	bottom: 0;
	height: @colorbox-bar-height;
	line-height: @colorbox-bar-height;
}

#cboxCurrent {
	left: (@colorbox-button-size * 2 + @colorbox-spacing * 3);
}

#cboxTitle {
	left: (@colorbox-button-size * 3 + @colorbox-spacing * 4);
	font-weight: bold;

	@media screen and (max-width: 768px) {
		bottom: @colorbox-bar-height;
		left: @colorbox-spacing;
		height: auto;
		line-height: normal;
		background-color: fade(#000, 50%);
		color: #fff;

	    &:not(:empty) {
	    	padding: 10px;
	    }
	}
}

/**
 * Colorbox buttons
 */
#cboxSlideshow,
#cboxPrevious,
#cboxNext,
#cboxClose {
	padding: 0;
	border: 0;
	border-radius: 50%;
	text-align: center;

	&:active,
	&:focus {
		outline: 0;
	}
}

#cboxSlideshow,
#cboxClose,
#cboxPrevious,
#cboxNext {
	position: absolute;
	bottom: @colorbox-spacing--small;
	.square(@colorbox-button-size);
	background: @colorbox-button-bg;
	color: @colorbox-button-text;
	transition: background 100ms ease;

	&:hover,
	&:focus,
	&:active {
		background: @colorbox-button-bg--hover;
	}

	&:active {
		box-shadow: inset 1px 1px 5px @colorbox-bg;
	}
}

#cboxPrevious {
	left: @colorbox-spacing;

	&:after {
		// left arrow
		.colorbox-icon('\f430', @colorbox-button-icon, 2px, -1px);
	}
}

#cboxNext {
	left: (@colorbox-button-size + @colorbox-spacing + 7px);

	&:after {
		// right arrow
		.colorbox-icon('\f429', @colorbox-button-icon, -2px, -1px);
	}
}

#cboxClose {
	right: @colorbox-spacing;

	&:after {
		// close
		.colorbox-icon('\f405', @colorbox-button-icon, 2px, 1px);
	}
}


#cboxSlideshow {
	right: (@colorbox-button-size + @colorbox-spacing + 7px);

	&:after {
		// play
		.colorbox-icon('\f452', (@colorbox-button-icon - 4px), -4px, 0);
	}

	.cboxSlideshow_on &:after {
		// pause
		.colorbox-icon('\f448', (@colorbox-button-icon - 4px), 0, 0);
	}
}
