.cb-icon,
#cboxPrevious:after,
#cboxNext:after,
#cboxClose:after,
#cboxSlideshow:after,
.cboxSlideshow_on #cboxSlideshow:after {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  font-family: "Genericons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
  position: relative;
  text-decoration: none;
}
/* =============================================================================
   ColorBox Core Style
   ========================================================================= */
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxWrapper {
  max-width: none;
}
#colorbox:focus {
  outline: 0;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  display: block;
  float: left;
  max-width: none;
  margin: auto;
  border: 0;
}
.cboxIframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
}
/* =============================================================================
   Colorbox theme for Cakifo
   ========================================================================= */
#cboxOverlay {
  background: #000000;
}
#cboxLoadingOverlay {
  background: #ffffff url(../images/loading.gif) no-repeat center center;
}
#cboxContent {
  background: #ffffff;
  background-clip: padding-box;
  border: 10px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 15px 15px 68px 15px;
}
#cboxCurrent,
#cboxTitle {
  position: absolute;
  bottom: 0;
  height: 68px;
  line-height: 68px;
}
#cboxCurrent {
  left: 141px;
}
#cboxTitle {
  left: 204px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  #cboxTitle {
    bottom: 68px;
    left: 15px;
    height: auto;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  #cboxTitle:not(:empty) {
    padding: 10px;
  }
}
/**
 * Colorbox buttons
 */
#cboxSlideshow,
#cboxPrevious,
#cboxNext,
#cboxClose {
  padding: 0;
  border: 0;
  border-radius: 50%;
  text-align: center;
}
#cboxSlideshow:active,
#cboxPrevious:active,
#cboxNext:active,
#cboxClose:active,
#cboxSlideshow:focus,
#cboxPrevious:focus,
#cboxNext:focus,
#cboxClose:focus {
  outline: 0;
}
#cboxSlideshow,
#cboxClose,
#cboxPrevious,
#cboxNext {
  position: absolute;
  bottom: 10px;
  width: 48px;
  height: 48px;
  background: #555555;
  color: #ffffff;
  -webkit-transition: background 100ms ease;
          transition: background 100ms ease;
}
#cboxSlideshow:hover,
#cboxClose:hover,
#cboxPrevious:hover,
#cboxNext:hover,
#cboxSlideshow:focus,
#cboxClose:focus,
#cboxPrevious:focus,
#cboxNext:focus,
#cboxSlideshow:active,
#cboxClose:active,
#cboxPrevious:active,
#cboxNext:active {
  background: #d54e21;
}
#cboxSlideshow:active,
#cboxClose:active,
#cboxPrevious:active,
#cboxNext:active {
  box-shadow: inset 1px 1px 5px #000000;
}
#cboxPrevious {
  left: 15px;
}
#cboxPrevious:after {
  content: '\f430';
  top: -1px;
  margin-right: 2px;
  font-size: 36px;
  font-size: 2.25rem;
}
#cboxNext {
  left: 70px;
}
#cboxNext:after {
  content: '\f429';
  top: -1px;
  margin-right: -2px;
  font-size: 36px;
  font-size: 2.25rem;
}
#cboxClose {
  right: 15px;
}
#cboxClose:after {
  content: '\f405';
  top: 1px;
  margin-right: 2px;
  font-size: 36px;
  font-size: 2.25rem;
}
#cboxSlideshow {
  right: 70px;
}
#cboxSlideshow:after {
  content: '\f452';
  top: 0;
  margin-right: -4px;
  font-size: 32px;
  font-size: 2rem;
}
.cboxSlideshow_on #cboxSlideshow:after {
  content: '\f448';
  top: 0;
  margin-right: 0;
  font-size: 32px;
  font-size: 2rem;
}
