/* =============================================================================
   Layout:  Comments
   ========================================================================== */

.comments-area {
	margin-top: @gutter-width;
}

.comments-header {
	.highlight-box;
}

.comment-list,
.comment-list .children {
	.no-list-style();
}

.comment {
	border-bottom: 4px double @comments-border-color;

	.comment-wrapper {
		padding: @gutter-width-small;
	}

	// Comment meta
	.comment-meta {
		#font > .shorthand(@font-size-mini, normal, 25px);
		color: @gray-light;

		a {
			color: @gray;

			&:hover {
				color: @link-color-hover;
			}
		}

		.comment-reply-link {
			font-weight: bold;
		}
	}

	.comment-author {
		display: block;
		#font > .shorthand(@font-size-base, bold, 25px);
		color: @gray;

		cite {
			font-style: normal;
		}
	}
}

/* Comment background colours */
.comment {
	.even {
		background-color: #fff;
	}

	.odd {
		background-color: lighten(@highlight-bg-secondary, 2%);
	}

	.bypostauthor {
		background-color: @highlight-bg;
	}
}

/* Child comments */
.comment-list .children {
	margin-left: @gutter-width;

	.comment {
		border-top: 1px solid @comments-border-color;
		border-bottom: none;
	}

	// Border colors
	.depth-2 {
		border-left: 3px solid #04648d;
	}

	.depth-3 {
		border-left: 3px solid #ce3000;
	}

	.depth-4 {
		border-left: 3px solid darken(@green, 3%);
	}

	.depth-5 {
		border-left: 3px solid darken(@pink, 5%);
	}
}
