/* =============================================================================
   Layout:  Posts
   ========================================================================== */

.hentry {
	position: relative;
	padding-bottom: @gutter-width-small;
	border-bottom: 4px double @post-border-color;
	margin-bottom: @gutter-width-small;
	word-wrap: break-word;

	.singular & {
		padding-bottom: 0;
		border-bottom: none;
	}
}

.sticky {
	padding: @gutter-width-small;
	background: @highlight-bg-secondary;

	.entry-title {
		margin-top: 0;
	}
}

/**
 * Entry meta
 */

.byline,
.entry-meta {
	#font > .shorthand(@font-size-small, normal, 2);
	color: @post-meta-color;
	clear: both;
}

.byline {
	margin-bottom: 15px;

	.entry-header & {
		margin-top: 5px;
	}
}

.singular .entry-meta {
	padding: 15px 0 0;
	border-top: 1px solid @post-border-color;
	margin: @gutter-width-small 0;
}

.page-links {
	clear: both;
}

/**
 * Intro
 */

.intro-post {
	margin-bottom: @gutter-width;

	.entry-content {
		.font-size(@headings-size-small);
	}

	.post-edit-link {
		.label-variant();
		position: absolute;
		top: 40%;
		right: @gutter-width-small;
	}
}

/* =============================================================================
   Components:  Breadcrumbs
   ========================================================================== */

.breadcrumbs {
	padding: 12px @gutter-width-small;
	border-bottom: 1px solid darken(@breadcrumb-bg, 5%);
	margin-bottom: @gutter-width-small;
	#font > .shorthand(@font-size-small, normal, 2);
	background: @breadcrumb-bg;
	border-radius: 5px;
	color: @gray;

	a {
		color: @gray-dark;

		&:hover {
			color: @link-color-hover;
		}
	}

	.trail-browse {
		margin-right: 3px;
	}

	.sep {
		margin: 0 3px;
	}

	.trail-end {
		font-style: italic;
	}
}

/* =============================================================================
   Components:  Author box
   ========================================================================== */

.author-profile {
	// padding, margin
	.blue-box(0 @gutter-width-small @gutter-width-small, @gutter-width-small 0);

	.author-name {
		.font-size(@font-size-large);
	}
}

/* =============================================================================
   Components:  Loop meta
   ========================================================================== */

.loop-meta {
	.highlight-box();
	.clearfix();
}

.loop-meta-home {
	border-bottom: @orange-line;
}

.loop-title {
	.font-size(@headings-size-medium);

	span {
		font-weight: normal;
		color: @orange-dark;
	}
}


/* =============================================================================
   Components:  Pagination
   ========================================================================== */

.pagination {
	margin: @gutter-width 0;

	a,
	> span {
		display: inline-block;
		padding: 13px 14px 12px;
		margin-right: 2px;
		line-height: normal;
		background-color: @pagination-bg;
		box-shadow: 0 2px 0 darken(@pagination-bg, 15%);
		border-radius: 3px;
		color: darken(@gray, 5%);
		text-shadow: 0 1px 0 #fff;
		.transition(all 150ms ease);
	}

	a:hover {
		background-color: @pagination-hover-bg;
		box-shadow: 0 2px 0 @pagination-hover-border;
		color: @pagination-hover-text;
		text-shadow: 0 1px 0 lighten(@pagination-hover-bg, 20%);
	}

	a:active {
		box-shadow:
			0 2px 0 @pagination-hover-border,
			inset 2px 2px 8px fade(#000, 30%);
	}

	.current {
		background-color: lighten(@gray-dark, 10%);
		box-shadow: 0 2px 0 #000;
		color: #fff;
		text-shadow: 0 -1px 0 #000;
	}
}

/* Prev and next post pagination */
.post-pagination a {
	max-width: 49%;

	&[rel="prev"] {
		float: left;
	}

	&[rel="next"] {
		float: right;
	}
}

/* =============================================================================
   Layout:  Attachment pages
   ========================================================================== */

.attachment-title {
	margin-top: 0;
}

.attachment-meta {
	margin-bottom: @gutter-width-small;
}

.image-info {
	float: left;
	width: 35%;

	dl {
		line-height: 40px;
	}

	dt,
	dd {
		border-bottom: 1px solid @post-border-color;
		padding: 5px;
	}

	dt {
		float: left;
		clear: left;
	}

	dd {
		text-align: right;
	}
}

.image-gallery {
	float: right;
	width: 60%;
}

/* =============================================================================
   Layout:  404 Error Page
   ========================================================================== */

.error-404 .hentry {
	.font-size(@font-size-large);

	.entry-title {
		margin-bottom: @gutter-width-small;
	}
}

.not-found-widgets {
	margin-top: @gutter-width;

	.widget {
		float: left;
		width: 306px;
		margin: 0 @gutter-width @gutter-width-small 0;

		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}
