//
// Layouts
// --------------------------------------------------

#content,
#footer {
	background: #fff url(images/content-orange-line.png) repeat-x;
	border-radius: 0 0 5px 5px;
	padding: 40px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#main,
.widget-area {
	margin-top: 40px;
}

#main {
	width: 630px;
	float: left;
	position: relative;
}

#sidebar-primary,
#sidebar-secondary {
	width: 280px;
	float: right;
}


#sidebar-primary,
#sidebar-secondary {
	word-wrap: break-word;
}

#sidebar-secondary {
	clear: right;
}

/* =============================================================================
   Layout:  Footer
   ========================================================================== */

#footer {
	background-color: #f8fafb;
	margin: 40px 0;
	position: relative;
	text-shadow: 1px 1px 0 #fff;
}

/* Footer text */
#footer .footer-content {
	margin-top: 10px;
}

#footer .copyright,
#footer .credit {
	width: 50%;
	margin-bottom: 0;
}

#footer .copyright {
	float: left;
}

#footer .credit {
	float: right;
	text-align: right;
}

/* Footer sidebar */
#sidebar-subsidiary {
	clear: both;
}

/* Two Footer Widget Areas */
#sidebar-subsidiary.two-col .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 48.1%;
}

#sidebar-subsidiary.two-col .widget-area + .widget-area {
	margin-right: 0;
}

/* Three Footer Widget Areas */
#sidebar-subsidiary.three-col .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 30.8%;
}

#sidebar-subsidiary.three-col .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

/* =============================================================================
   Layout:  Theme Layouts
   ========================================================================== */

/**
 * Widths
 */

/* One column layout */
.layout-1c #main {
	width: 100%;
}

/* Three columns */
.layout-3c-l #main,
.layout-3c-r #main {
	width: 490px;
}

.layout-3c-c #main {
	width: 500px;
	margin-left: 220px;
}

.layout-3c-c #sidebar-primary,
.layout-3c-l #sidebar-primary,
.layout-3c-r #sidebar-primary,
.layout-3c-c #sidebar-secondary,
.layout-3c-l #sidebar-secondary,
.layout-3c-r #sidebar-secondary {
	width: 200px;
}

.layout-3c-l #sidebar-primary,
.layout-3c-l #sidebar-secondary {
	margin-left: 25px;
}

.layout-3c-r #sidebar-primary,
.layout-3c-r #sidebar-secondary {
	margin-right: 25px;
}

.layout-3c-c #sidebar-primary {
	margin-left: -720px;
}

/**
 * Floating
 */

.layout-2c-r #main,
.layout-3c-r #main,
.layout-3c-c #sidebar-secondary {
	float: right;
}

.layout-3c-c #sidebar-primary,
.layout-2c-r #sidebar-primary,
.layout-3c-l #sidebar-primary,
.layout-3c-r #sidebar-primary,
.layout-2c-r #sidebar-secondary,
.layout-3c-l #sidebar-secondary,
.layout-3c-r #sidebar-secondary,
.layout-3c-l #main,
.layout-3c-c #main {
	float: left;
}

/**
 * Clearing
 */

.layout-2c-r #sidebar-secondary {
	clear: left;
}

.layout-3c-l #sidebar-primary,
.layout-3c-r #sidebar-primary,
.layout-3c-l #sidebar-secondary,
.layout-3c-r #sidebar-secondary {
	clear: none;
}
