
/* =============================================================================
   Media Queries:  Max-width 1130px
   ========================================================================== */

@media screen and (max-width: 1130px) {
	/* Move the navigation arrows when the screen is smaller */
	.flex-direction-nav .flex-prev,
	.flex-direction-nav .flex-next {
		top: auto;
		bottom: 15px;
		.square(58px);

		&:after {
			font-size: 48px;
			line-height: 48px;
		}
	}

	.flex-direction-nav .flex-prev {
		left: @gutter-width;
		opacity: 1;
	}

	.flex-direction-nav .flex-next {
		right: @gutter-width;
		opacity: 1;
	}
}

/* =============================================================================
   Media Queries:  Max-width 1080px
   ========================================================================== */

@media screen and (max-width: 1080px) {

	.main-navigation {
		width: 100%;
	}

	/* Remove the negative margin and box-shadow */
	.section-title {
		padding-left: @gutter-width-small;
		margin-left: 0;
		box-shadow: none;
	}

	/* Fluid width on the Headlines lists */
	.headline-list {
		width: 48%;
		margin-right: 2%;
	}

} // 1080px

/* =============================================================================
   Media Queries:  Max-width 980px
   ========================================================================== */

@media screen and (max-width: 980px) {

	/* Switch padding from 40px to 25px */
	.cakifo-slider {
		margin-left: ( -(@gutter-width-small) );
		margin-right: ( -(@gutter-width-small) );
	}

	.section-title {
		margin-bottom: @gutter-width-small;
	}

	/* Attachment meta */
	.attachment-info,
	.attachment-gallery {
		float: none;
		width: 100%;
	}

	.attachment-info {
		margin-bottom: @gutter-width-small;
	}

} // 980px

/* =============================================================================
   Media Queries:  Max-width 768px
   ========================================================================== */

@media screen and (max-width: 768px) {

	/* Make the slider smaller */
	.slide {
		.thumbnail {
			max-width: 55%;
			margin-right: @gutter-width-small;
		}

		// Remove the video
		.slider-video {
			display: none;
		}
	}

	.flex-control-nav {
		margin-top: @gutter-width;
	}

	/* Make the pagination bigger */
	.pagination a,
	.pagination > span {
		padding: 18px 22px 17px;
		margin-bottom: 10px;
	}

	/* Make the Category Headlines list smaller */
	.headline-list {
		.entry-title {
			.font-size(@font-size-base);
		}

		.headline-meta {
			.font-size(@font-size-small);
		}

		.thumbnail {
			max-width: 50px;
		}
	}
}

/* =============================================================================
   Media Queries:  Max-width 620px
   ========================================================================== */

@media screen and (max-width: 620px) {

	/* Hide the slider */
	.slider {
		display: none;
	}

	/* Make the Category Headlines list two columns */
	.headline-list {
		width: 100%;
		margin-right: 0;
	}

	/* Gallery on attachment pages */
	.image-gallery .gallery-item {
		width: 25%;
	}

	/* Make the comment form inputs one column */
	.comment-form {
		.form-author,
		.form-email {
			float: none;
			width: 100%;
		}
	}
}

/* =============================================================================
   Media Queries:  Max-width 480px
   ========================================================================== */

@media screen and (max-width: 480px) {

	/* Make sure the post format label and post title don't collide */
	.entry-header .post-format-link {
		top: -20px;
	}

	/* Gallery on attachment pages */
	.image-gallery .gallery-item {
		width: 33%;
	}
}
