/* =============================================================================
   Components:  Message boxes
   ========================================================================== */

.note,
.alert,
.warning,
.success,
.download,
.danger,
.error,
.info {
	padding: @smallGutterWidth;
	border: double @alertBorder;
	border-width: 4px 0;
	margin-bottom: @smallGutterWidth;
	text-shadow: 0 1px 0 fade(@white, 50%);
	background-color: @alertBackground;
	color: @alertText;
}

.warning,
.alert {
	background-color: @warningBackground;
	border-color: @warningBorder;
	color: @warningText;
}

.success,
.download {
	background-color: @successBackground;
	border-color: @successBorder;
	color: @successText;
}

.danger,
.error {
	background-color: @errorBackground;
	border-color: @errorBorder;
	color: @errorText;
}

.info {
	background-color: @infoBackground;
	border-color: @infoBorder;
	color: @infoText;
}

.box-blue {
	.blue-box(@smallGutterWidth);
}

.box-orange {
	.highlight-box(@smallGutterWidth);
}

/* =============================================================================
   Components:  Surprise!
   ========================================================================== */

.shake-it-baby{-webkit-animation:shake-it-baby 1s infinite;-moz-animation:shake-it-baby 1s infinite;animation:shake-it-baby 1s infinite;.transition(all 1s ease); }
@-webkit-keyframes shake-it-baby{0%{-webkit-transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{-webkit-transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{-webkit-transform:scale(1.0) skew(0);background-color:#fff}}
@-moz-keyframes shake-it-baby{0%{-moz-transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{-moz-transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{-moz-transform:scale(1.0) skew(0);background-color:#fff}}
@keyframes shake-it-baby{0%{transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{transform:scale(1.0) skew(0);background-color:#fff}}

/* =============================================================================
   Misc:  Internet Explorer styles
   ========================================================================== */

.oldie {
	.main-navigation .sep,
	.sub-menu .sep {
		display: none !important;
	}

	.recent-post,
	.headline-list {
		margin-right: ( @gutterWidth / 2 - 5px );
		margin-left:  ( @gutterWidth / 2 - 5px );
	}
}

/**
 * IE7 fixes
 */
.ie7 .secondary-navigation {
	position: relative;
	z-index: 100;
}
