/* =============================================================================
   Layout:  Topbar
   ========================================================================== */

#topbar {
	position: relative;
	width: 100%;
	min-height: 60px;
	background: @topbarBackground url(images/topbar.png) repeat; // The noise image is transparent
	color: #ccc;

	&:after {
		position: absolute;
		bottom: -11px;
		left: 0;
		.size(100%, 10px);
		background: url(images/topbar-bottom.png) repeat-x;
		content: "";
	}
}

/* =============================================================================
   Layout:  Primary navigation
   ========================================================================== */

.main-navigation {
	position: relative;
	width: @siteWidth;
	padding: 0 @gutterWidth 0 (@gutterWidth - 15px); // 15px is the padding-left on .menu-item a {}
	margin: 0 auto;
	.clearfix();

	.menu,
	.menu ul {
		.no-list-style();
	}

	.menu-item {
		position: relative;
		float: left;
	}

	.menu-item > a {
		display: inline-block;
		padding: 20px 15px;
		color: #ccc;
		#font > .shorthand(15, bold, normal);
		text-shadow: 1px 1px 0 @grayDarker;
		.transition(all 150ms);
	}

	.menu-item > a:hover,
	.menu-item > a:focus,
	.current-menu-item > a,
	.current-menu-ancestor > a {
		background-color: #444;
		#gradient > .vertical(fade(#fff, 0%), fade(#fff, 20%));
		color: #ececec;
	}

	.menu-item > a:active {
		#gradient > .vertical(fade(@grayLight, 0%), fade(@grayLight, 20%));
	}

	.sep {
		color: #9b9b9b;
	}

	.sub-menu .sep,
	.menu-item:last-of-type .sep {
		display: none;
	}

	/* Level 2 */
	.sub-menu {
		display: none;
		position: absolute;
		z-index: 500;
		top: 100%;
		left: 0;
		min-width: 200px;
		background: @topbarBackground url(images/topbar.png) repeat;
		border-radius: 0 0 5px 5px;
		box-shadow: 1px 2px 2px fade(#000, 30%);

		.menu-item {
			float: none;
		}

		.menu-item > a {
			width: 100%;
			border-top: 1px solid #393939;
			border-bottom: 1px solid #111;
		}

		.menu-item:first-of-type > a {
			border-top: none;
		}

		.menu-item:last-of-type > a {
			border-bottom: none;
		}

		// Level n
		.sub-menu {
			top: 0;
			left: 100%;
			border-radius: 0 5px 5px 0;
		}
	}

	// Display the sub menus on hover
	.menu-item:hover > .sub-menu {
		display: block;
	}
}

/**
 * Toggle button
 */
.menu-toggle {
	display: none;
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid #050505;
	margin: 0;
	#font > .shorthand(21, bold, 1.5);
	#gradient > .vertical(#555, #444);
	box-shadow: 0 1px 0 fade(@white, 10%);
	color: @white;
	text-align: center;
	cursor: pointer;

	&:hover {
		background: @grayDark;
	}

	&:active,
	&:focus {
		background: @grayDarker;
	}
}

// =============================================================================
// Primary Navigation for screens < 980px
// =============================================================================

@media screen and (max-width: 979px) {

	.main-navigation {
		padding: 0;

		.menu-toggle {
			display: block;
		}

		.menu-list-container,
		.search-form {
			display: none;
		}

		/* Menu is toggled on */
		&.toggled-on .menu-list-container,
		&.toggled-on .search-form {
			display: block;
		}

		.menu-list-container {
			padding: @gutterWidth;
		}

		.menu-item {
			float: none;
		}

		.menu-item > a {
			width: 100%;
			border-top: 1px solid #393939;
			border-bottom: 1px solid #111;
		}

		.menu-item:first-of-type > a {
			border-top: none;
		}

		.menu-item:last-of-type > a {
			border-bottom: none;
		}

		.sep,
		.menu-item:hover > .sub-menu {
			display: none;
		}

	} // .main-navigation

} // Media query: max-width 979px;

// =============================================================================
// Search form in the topbar
// =============================================================================

.main-navigation .search-form {
	float: right;
	margin-top: 10px;

	label {
		margin: 0;
	}

	.search-field {
		margin-bottom: 0;
		background-color: @gray;
		background-color: fade(#fff, 30%);
		border: 1px solid #000;
		box-shadow:
			inset 0 1px 2px fade(#000, 10%),
			0 1px 0px fade(#fff, 30%);
		color: #fff;
		color: fade(#fff, 80%);

		// Give the input placeholder a lighter colour
		.placeholder( lighten(@grayLight, 10%), -1px -1px 0 fade(#000, 30%) );
	}

	.search-submit {
		display: none;
		padding: 2px 14px;
		border-color: #000;
		margin-left: 5px;
	}
}

@media screen and (max-width: 979px) {
	.main-navigation .search-form {
		float: none;
		padding: @smallGutterWidth @gutterWidth;
		margin-top: (-@smallGutterWidth);
		border: solid @grayDarker;
		border-width: 1px 0;
		box-shadow:
			inset 0 1px 0 fade(#fff, 10%),
			0 1px 0 fade(#fff, 10%);

		.search-submit {
			display: inline-block;
		}
	}
}

/* No JS: show the menu */
.no-js .main-navigation .menu-list-container,
.no-js .main-navigation .search-form {
	display: block;
}

.no-js .menu-toggle {
	display: none;
}

// =============================================================================
// Secondary Navigation
// =============================================================================

.secondary-navigation {
	#gradient > .vertical(fade(@white, 20%), fade(@white, 53%));
	border-radius: 5px 5px 0 0;

	.no-rgba & {
		background-color: #f8fafb;
	}

	ul {
		.no-list-style();
	}

	.menu {
		.clearfix();
		margin-left: @smallGutterWidth;
	}

	.menu-item {
		position: relative;
		float: left;
		.font-size(14);
	}

	.menu-item > a {
		display: inline-block;
		padding: 4px 20px;
		line-height: 3.5;
		color: darken(@gray, 5%);
		text-transform: uppercase;

		&:hover {
			background-color: @white;
			background-color: fade(@white, 53%);
			color: @linkColorHover;
		}
	}

	.current-menu-item > a,
	.current-menu-ancestor > a {
		font-weight: bold;
		color: @grayDarker;
	}

	// Separator
	.sep {
		color: @grayLight;
	}

	.sub-menu .sep,
	.menu-item:last-of-type .sep {
		display: none;
	}

	// Level two
	.sub-menu {
		display: none;
		position: absolute;
		z-index: 500;
		top: 100%;
		left: 0;
		min-width: 200px;
		box-shadow: 1px 1px 2px fade(@black, 25%);

		.menu-item {
			float: none;
		}

		a {
			display: block;
			// width: 100%;
			padding: 8px 12px;
			border-bottom: 1px solid lighten(@grayDark, 10%);
			.font-size(14);
			line-height: 2.2;
			background: @grayDarker;
			color: @grayLighter;
			text-transform: none;
			white-space: normal;

			&:hover {
				background: darken(@grayDarker, 13%);
			}
		}

		.menu-item:last-of-type > a {
			border-bottom: none;
		}

		// Level n
		.sub-menu {
			top: 0;
			left: 100%;
		}
	}

	// Display the sub menu on hover
	.menu-item:hover > ul {
		display: block;
	}
}
