// =============================================================================
// Post formats
// =============================================================================

/**
 * Post format link
 */
.entry-header .post-format-link {
	position: absolute;
	top: 10px;
	right: 0;
	float: right;
	padding: 3px 10px;
	font-size: 12px;
	background-color: @grayLighter;
	border-radius: 3px;
	color: lighten(@gray, 15%);
	text-transform: uppercase;

	&:hover,
	.format-status &:hover {
		background-color: @orangeDark;
		color: @white;
	}
}

/**
 * Format: Chat
 */
.chat-transcript {
	margin: @smallGutterWidth 0;
	// Give the chat transcripts a monospace font
	#font > .monospace(14px);
}

.chat-row {
	margin-bottom: 10px;
}

/* The name of the soeaker */
.chat-author {
	color: #000;

	cite {
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: underline;
	}

	// Give the chat person different colors
	.chat-speaker-1 & { color: @orangeDark; }
	.chat-speaker-2 & { color: darken(@blueDark, 5%); }
	.chat-speaker-3 & { color: @purple; }
	.chat-speaker-4 & { color: darken(@green, 5%); }
	.chat-speaker-5 & { color: darken(@pink, 5%); }
	.chat-speaker-6 & { color: @red; }
}

/* The speaker text */
.chat-text {
	padding-left: @smallGutterWidth;

	p {
		margin-top: 10px;
		margin-bottom: 0;
	}

	.no-speaker & {
		padding-left: 0;
		color: lighten(@gray, 8%);
	}
}

/**
 * Format: Status
 */
.format-status .entry-header {
	position: relative;
	margin-bottom: @smallGutterWidth;

	h1 {
		display: inline-block;
		margin: 0;
		font-size: 16px;
		font-weight: normal;
	}

	h2 {
		margin: 0;
		font-size: 13px;
		font-weight: normal;
	}

	a {
		color: @gray;

		&:hover { color: @linkColorHover; }
	}
}

/**
 * Format: Quote
 */
.format-quote .entry-meta {
	// Set z-index higher than the quotes on <blockquote>
	position: relative;
	z-index: 10;
}

/**
 * Format: Link
 */
.format-link .entry-title:hover .meta-nav {
	margin-left: 5px;
	.transition(margin-left 200ms ease-in-out);
}

/**
 * Format: video
 */
.format-video .entry-header {
	margin-bottom: @smallGutterWidth - 10px;
}

/**
 * Format: Gallery
 */
.image-count {
	font-size: @baseFontSize - 1px;
	font-style: italic;
	color: @grayLight;
}

/**
 * Format: Image
 */
.format-image .entry-meta {
	padding: @smallGutterWidth;
	#font > .alternative(14px, normal, 2);
	background: #e0e6e8;
	border-radius: 3px;
	color: @gray;

	// Entry meta columns
	.entry-meta-col {
		display: inline-block;
		float: left;
		width: 40%;
	}

	.entry-meta-col + .entry-meta-col {
		float: none;
		width: 60%;
	}

	// Display them on their own line
	.comments-link,
	.edit,
	.category {
		display: block;
	}
}
