//
// Post formats
// --------------------------------------------------

.entry-header .post-format-link {
	background-color: #ebebeb;
	border-radius: 3px;
	color: #848484;
	font-size: 12px;
	float: right;
	padding: 3px 10px;
	text-transform: uppercase;
	position: absolute;
	top: 5px;
	right: 0;
}

/* Format: Aside */
.format-aside {
	border-top: 5px solid @grayLighter;
	margin-top: -26px;
	padding-top: 10px;

	.singular & {
		border-top-width: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

/* Format: chat */
.chat-transcript {
	margin: 25px 0;
}

.chat-row {
	margin-bottom: 10px;
}

.chat-author {
	color: #000;
}

.chat-author cite {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
}

.chat-text {
	padding-left: 25px;
}

.chat-text p:last-of-type {
	margin-bottom: 0;
}

.chat-speaker-1 .chat-author { color: #d54e21; }
.chat-speaker-2 .chat-author { color: #11739d; }
.chat-speaker-3 .chat-author { color: #8b0f9d; }
.chat-speaker-4 .chat-author { color: #127c10; }
.chat-speaker-5 .chat-author { color: #1a1eb6; }

/* Format: Status */
.format-status .entry-header {
	margin-bottom: @smallGutterWidth;
	position: relative;

	h1 {
		display: inline-block;
		font-size: 16px;
		font-weight: normal;
		margin: 0;
	}

	h2 {
		font-size: 13px;
		font-weight: normal;
		margin: 0;
	}

	a {
		color: #666;
		&:hover { color: #3083aa; }
	}

	.avatar {
		margin-right: 18px;
	}
}

/* Format: Quote */
.format-quote .entry-meta {
	// Set z-index higher than the quotes on <blockquote>
	position: relative;
	z-index: 10;
}

/* Format: link */
.format-link .entry-title:hover .meta-nav {
	margin-left: 5px;
	.transition(margin-left 200ms ease-in-out);
}

/* Format: video */
.format-video {

}

/* Format: Gallery */
.image-count {
	color: @grayLight;
	font-size: @baseFontSize - 1px;
	font-style: italic;
}

/**
 * Format: Image
 */
.format-image .entry-meta {
	background: #e0e6e8;
	border-radius: 3px;
	color: @gray;
	#font > .alternative(14px, normal, 2);
	padding: @smallGutterWidth;

	// Entry meta columns
	.entry-meta-col {
		display: inline-block;
		float: left;
		width: 40%;
	}

	.entry-meta-col + .entry-meta-col {
		float: none;
		width: 60%;
	}

	// Display them on their own line
	.comments-link,
	.edit,
	.category {
		display: block;
	}
}
