/* =============================================================================
   Base
   ========================================================================== */

// Apply a natural box layout model to all elements, but allowing components to change
// http://paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/**
 * Sets 1 rem = 10px
 */
html {
	font-size: 62.5%;
}

body {
	#font > .serif;
	background-color: @body-bg;
	color: @text-color;
}

/**
 * Set site width and center the site.
 */
#wrapper {
	width: 100%;
	max-width: @width-site;
	margin: 0 auto;
}

/**
 * Remove background color if a user removes the color
 */
.custom-background-empty {
	background-color: #fff;

	.site-content,
	.site-footer {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

/* =============================================================================
   Links
   ========================================================================== */

a {
	color: @link-color;
	text-decoration: none;

	&:hover {
		color: @link-color-hover;
	}

	// Addresses `outline` inconsistency between Chrome and other browsers
	&:focus {
		.tab-focus();
	}
}
