/* =============================================================================
   Typography:  Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	// Fix the character spacing for headings
	text-rendering: optimizelegibility;
}

h1, h2 {
	.font-size(@headings-size-base);
	letter-spacing: -1px;
}

h3 {
	.font-size(@headings-size-medium);
	color: @orange-dark;
}

h4 {
	.font-size(@headings-size-small);
}

h5 {
	.font-size(@headings-size-mini);
}

h6 {
	#font > .shorthand(@headings-size-micro, normal);
}

/* Entry titles */
.entry-title {
	.font-size(@headings-size-large);
	margin-bottom: 0;
	word-wrap: break-word;
}

/* h3 headings in post content */
.entry-content h3 {
	background: lighten(@gray-lighter, 2.5%);
	padding: 8px 10px;
}

/* Widget titles */
.widget-title {
	background-color: mix(lighten(@title-widget-bg, 5%), @title-widget-bg, 60%);
	background-image: linear-gradient(to bottom, lighten(@title-widget-bg, 5%), @title-widget-bg);
	border: 1px solid darken(@title-widget-bg, 2%);
	border-bottom-color: darken(@title-widget-bg, 5%);
	border-radius: 50px 30px;
	color: @gray-dark;
	.font-size(18);
	margin: 0 0 @gutter-width-small;
	padding: 8px 20px;
	text-shadow: 0 1px 0 #fff;
	letter-spacing: -1px;

	// Links
	a {
		color: @gray-dark;

		&:hover { color: @link-color-hover; }
	}
}

/* Section titles */
.section-title {
	background-color: @title-section-bg;
	background-image: linear-gradient(to bottom, @title-section-bg, darken(@title-section-bg, 4%));
	border-radius: 30px;
	color: #fff;
	.font-size(24);
	margin: 0 0 @gutter-width (-60px);
	padding: 10px 60px;
	text-shadow: 1px 1px 0 darken(@title-section-bg, 14%);
	box-shadow:
		0 0 0 3px fade(#fff, 90%),
		-4px 0 3px fade(#000, 30%),
		inset 0 1px 3px darken(@title-section-bg, 10%);

	a {
		display: block;
		color: #fff;

		&:hover {
			color: @gray-lighter;
		}
	}
}

/* =============================================================================
   Typography:  Lists
   ========================================================================== */

li {
	line-height: ( @line-height-base * 1.25 );
}

// Ordered lists
ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: upper-alpha;
}

ol ol ol ol ol {
	list-style: lower-alpha;
}

// Definition lists
dt {
	font-weight: bold;
}

/* =============================================================================
   Typography:  Code
   ========================================================================== */

/**
 * Set code font
 */
code, kbd, pre, samp {
	#font > .monospace(@font-size-base, normal);
}

/**
 * Inline code
 */
code {
	color: @green;
}

/**
 * Blocks of code
 */
pre {
	padding: @gutter-width-small;
	background: lighten(@gray-dark, 6%);
	border-radius: 5px;
	color: #fff;
	white-space: pre-wrap; // Improves readability of pre-formatted text

	code {
		color: #fff;
	}
}

/* =============================================================================
   Typography:  HTML elements
   ========================================================================== */

acronym {
	border-bottom: 1px dashed @gray;
	text-transform: uppercase;
	cursor: help;
}

// Horizontal rule
hr {
	display: block;
	clear: both;
	border: 0;
	padding: 0;
	margin: @gutter-width-small 0;
	border-bottom: 4px double @gray-lighter;
}
