//
// Helper classes
// --------------------------------------------------

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone {
	clear: both;
}

.clear {
	clear: both;
}

.last {
	margin-right: 0 !important;
}

/* This is used to hide content from browsers but allow screen readers to see it */
.assistive-text {
	position: absolute !important;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); // IE6, IE7
	clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
	visibility: hidden;
}
