/**
 * Development stylesheet.  Use this file for development purposes by adding this to your 'wp-config.php' file:
 * define( 'SCRIPT_DEBUG', true );
 *
 * You shouldn't make changes to this file. Use a child theme instead
 * @link https://github.com/jayj/Cakifo/wiki/Child-themes
 */

/**
 * HTML5 display definitions
**************************************/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */
audio:not([controls]) {
	display: none;
}

/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4 */
[hidden] {
	display: none;
}

/**
 * Base
**************************************/

html {
	font-size: 100%;
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%;
}

body {
	font: 16px/2 Georgia, Cambria, "Bitstream Charter", serif;
	color: #606060;
	margin: 0;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}

p {
	margin: 0 0 25px 0;
}

/* Links */
a {
	color: #3083aa;
	text-decoration: none;
}

a:hover {
	color: #d64e20;
}

a:focus {
	outline: thin dotted; /* Addresses outline displayed oddly in Chrome */
}

a:hover,
a:active {
	outline: 0; /* Improves readability when focused and also mouse hovered in all browsers */
}

/**
 * HTML elements
**************************************/

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	color: #555;
	font-family: 'PT Serif', Georgia, serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: 0 0 25px 0;
}

h1, h2 {
	font-size: 24px;
}

h3 {
	color: #d54e21;
	font-size: 22px;
}

.entry-content h3 {
	background: #f7f7f7;
	padding: 8px 10px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
	font-weight: bold;
}

/* Widget titles */
.widget-title {
	background: #f4f4f4;
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	border: 1px solid #e9e9e9;
	border-bottom-color: #dfdfdf;
	border-radius: 50px 30px;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 8px 20px;
	text-shadow: 0 1px 0 #fff;
}

/* Section titles */
.section-title {
	background: #d54e21;
	background-image: -webkit-linear-gradient(top, #d54e21, #c8471b);
	background-image: -moz-linear-gradient(top, #d54e21, #c8471b);
	background-image: -o-linear-gradient(top, #d54e21, #c8471b);
	background-image: -ms-linear-gradient(top, #d54e21, #c8471b);
	background-image: linear-gradient(top, #d54e21, #c8471b);
	border-radius: 30px;
	color: #fff;
	font: 18px 'PT Serif', Georgia, serif;
	padding: 14px 50px;
	margin: 0 0 30px -50px;
	text-shadow: 1px 1px 0 #9c3412;
	box-shadow: 0 0 0 3px rgba(255,255,255, 0.9), -4px 0 3px rgba(0,0,0, 0.3), inset 0 1px 3px #ac3d18;
}

.section-title a {
	color: #fff;
	display: block;
}

.section-title a:hover {
	color: #f0efd1;
}

/* Grey section titles */
.section-title.alternative-section-title {
	background: #f4f4f4;
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	border: 1px solid #e9e9e9;
	border-bottom-color: #dfdfdf;
	color: #333;
	font-size: 16px;
	margin-left: 0;
	padding: 12px 25px;
	text-shadow: 0 1px 0 #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.section-title.alternative-section-title a {
	color: #333;
}

.section-title.alternative-section-title a:hover {
	color: #111;
}

/**
 * Lists
 */
ul,
ol {
	line-height: 32px;
	margin: 0 0 25px 40px;
	padding: 0;
}

ul {
	list-style: square;
}

ol {
	list-style-type: decimal;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: upper-alpha;
}

ol ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 0 25px 5px;
}

dd {
	margin: 0 0 0 40px;
}

dl dt {
	font-weight: bold;
	margin: 10px 0 0 0;
}

dl dd {
	margin: 5px 0 0 25px;
}

/**
 * Quotes
 */
blockquote,
.author-profile {
	background: #f5f8f9 url(images/quote.png);
	border: 1px solid #dde5e8; border-top: none;
	border-radius: 5px;
	color: #56717d;
	font: normal 16px/32px 'PT Serif', Georgia, Palatino, serif;
	margin: 25px auto;
	padding: 30px 50px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	box-shadow: inset 0 0 20px #e8f0f4, 0 1px 1px #dde5e8, 0 0 3px rgba(0, 0, 0, .05);
}

blockquote blockquote {
	background: #eef7f9;
	color: #33505c;
}

blockquote,
q {
	quotes: none;
}

q:before,
q:after {
	content: '';
	content: none;
}

/* The quote before the blockquote */
blockquote:before {
	content: "\201C";
	color: #bed1e1;
	color: rgb(94, 141, 181);
	font: 170px 'PT Serif', Georgia, serif;
	position: absolute;
	top: -45px;
	left: -25px;
	opacity: 0.35;
}

/* The quote after the blockquote */
blockquote p:first-of-type:after {
	content: "\201E";
	color: #bed1e1;
	color: rgb(94, 141, 181);
	font: 70px  'PT Serif', Georgia, serif;
	margin-left: 10px;
	position: absolute;
	bottom: -10px;
	opacity: 0.25;
}

blockquote p:only-of-type:after {
	display: none;
}

/* The author of the quote */
blockquote cite,
blockquote span {
	color: #91acbe;
	display: block;
	font-size: 14px;
	margin-top: 20px;
}

blockquote span cite {
	display: inline;
	margin-top: 0;
}

/* Other blockquote styles */
blockquote p {
	position: relative;
	margin-top: 5px;
}

blockquote p:last-of-type {
	margin-bottom: 0;
}

blockquote.alignleft,
blockquote.alignright {
	width: 33%;
}

blockquote em, blockquote cite {
	font-style: italic;
}

/* Pull quotes */
blockquote.pull {
	font-size: 19px;
	margin: 45px 10px 0;
	/* Reset styles inherited from 'blockquote' */
	background: none;
	border: none;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

blockquote.pull.alignleft {
	padding-right: 0;
	margin: 45px 25px 0 0;
}

blockquote.pull.alignright {
	margin: 45px 0 0 25px;
}

blockquote.pull.alignleft,
blockquote.pull.alignright {
	width: 33%;
}

/* The pullquote quotes */
blockquote.pull:before {
	font-size: 120px;
	opacity: 0.25;
	top: -22px;
	left: -12px;
}

blockquote.pull:after,
blockquote.pull p:first-of-type:after {
	font-size: 56px;
	opacity: 0.2;
}

/**
 * Code
 */
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 14px;
}

code {
	color: #093;
}

pre {
	background: #464646;
	border: solid #333;
	border-width: 2px 0;
	border-radius: 5px;
	color: #fff;
	padding: 25px;
	overflow: auto;
	text-shadow: 0 1px 0 #222;
	white-space: pre; white-space: pre-wrap; word-wrap: break-word;
}

pre code {
	background: none;
	color: #fff;
	padding: 0;
}

/**
 * Embedded content
 */
img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* Improves image quality when scaled in IE7 */
}

img.alignleft,
img.alignright {
	display: inline;
}

img.wp-smiley {
	border: none;
	margin: 0; padding: 0;
}

svg:not(:root) {
	overflow: hidden; /* Corrects overflow displayed oddly in IE9  */
}

figure {
	margin: 0; /* Addresses margin not present in IE6/7/8/9, S5, O11 */
}

object {
	margin-bottom: 25px;
}

/**
 * Acronyms and abbreviations
 */
abbr[title] {
	border-bottom: 1px dotted; /* Addresses styling not present in IE7/8/9, S5, Chrome */
}

acronym {
	text-transform: uppercase;
	border-bottom: 1px dashed #666;
	cursor: help;
}

/**
 * Other
 */
hr {
	background: #eee;
	height: 1px;
	margin-bottom:25px;
}

iframe {
	border: none;
}

iframe[seamless] {
	background-color: transparent;
	border: 0px none transparent;
	padding: 0px;
	overflow: hidden;
}

b, strong {
	font-weight: bold; /* Addresses style set to 'bolder' in FF3/4, S4/5, Chrome */
}

em, cite {
	font-style: italic;
}

ins {
	border-bottom: 1px solid #666;
	font-style: italic;
	text-decoration: none;
}

mark { /* Addresses styling not present in IE6/7/8/9 */
	background: #ff0;
	color: #000;
}

dfn {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

small {
	font-size: 75%;
}

big {
	font-size: 120%;
}

address {
	font-style: italic;
	margin: 0 0 25px 0;
}

li address,
dd address {
	margin: 0;
}

/* Prevents sub and sup affecting line-height in all browsers */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/**
 * Tables
 */
table {
	border: 1px solid #e7e7e7;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	width: 100%;
	margin-bottom: 25px;
	text-align: left;
}

	/* th */
	tr th,
	thead th {
		background: #f3f9fc;
		border-left: 1px solid #e9f2f7;
		color: #444;
		font-size: 15px;
		font-weight: bold;
		padding: 9px 24px;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, .04);
	}

	/* td */
	tr td {
		background: #fafafa;
		border: 1px solid #e7e7e7;
		padding: 6px 24px;
	}

	td {
		vertical-align: top;
	}

	tr:nth-child(even) td {
		background: #f7f7f7;
	}

	tr:hover td {
		background: #fff;
	}

	td,
	td img {
		vertical-align: top;
	}

	/* tfoot */
	tfoot td {
		color: #777;
		font-size: 11px;
		text-transform: uppercase;
	}

	tfoot th {
		color: #444;
		font-size: 12px;
		text-transform: uppercase;
	}

	/* Table caption */
	table caption {
		background: #ffffdb;
		border: 1px solid #f7f7ab;
		border-radius: 5px;
		font-size: 16px;
		margin-bottom: 5px;
		padding: 10px;
	}

/**
 * Change color of selections
 */
::-moz-selection {
	background: #568cbb;
	color: #f4f8fb;
	text-shadow: 0 1px 0 #3d719d;
}

::selection {
	background: #568cbb;
	color: #f4f8fb;
	text-shadow: 0 1px 0 #3d719d;
}

/**
 * Helper classes
 */
.alignleft, .left {
	float: left;
}

.alignright, .right {
	float: right;
}

.aligncenter, .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone,
.block {
	clear: both;
}

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.last {
	margin-right: 0!important;
}

/* This is used to hide content from browsers but allow screen readers to see it */
.assistive-text {
	position: absolute!important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Topbar
**************************************/

#topbar {
	background: #262626 url(images/topbar.png) repeat; /* The noise image is transparent */
	color: #bcbcbc;
	width: 100%;
	min-height: 59px; /* If you change the height in a child theme, you should set padding-top as well */
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#topbar:after {
	background: url(images/topbar-bottom.png) repeat-x;
	content: "";
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: -11px;
	left: 0;
}

#topbar .wrap {
	width: 980px;
	margin: 0 auto;
}

#topbar a {
	color: #c6c6c6;
}

#topbar h3 {
	color: #fff;
	font: bold 21px 'PT Serif', serif;
	position: absolute;
	top: 15px; left: 10px;
}

a.toggle-navbar {
	display: none;
}

/**
 * Menu
 */
#topbar ul {
	list-style: none;
	margin: 0;
}

#topbar .menu-item {
	background: #262626 url(images/topbar.png) repeat;
	float: left;
	position: relative;
}

#topbar .menu-item,
#topbar .menu-item > a {
	/* Align items to the center */
	/*height: 100%;
	display: -webkit-box; display: -moz-box; display: -ms-box; display: box;
	-webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center;*/
}

#topbar .menu-item > a {
	display: inline-block;
	font: bold 14px sans-serif;
	padding: 21px 18px;
	text-shadow: 1px 1px 0 #242424;
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-o-transition: all 150ms;
	-ms-transition: all 150ms;
	transition: all 150ms;
/*	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
}

#topbar .menu-item > a:hover,
#topbar .current-menu-item > a,
#topbar .current-menu-ancestor > a {
	background: #444;
	background: -webkit-linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0.2));
	background: -moz-linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0.2));
	background: -o-linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0.2));
	background: -ms-linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0.2));
	background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0.2));
	color: #f4fbff;
}

	/* Level 2 */
	#topbar .sub-menu {
		background: #333 url(images/topbar.png) repeat;
		border-radius: 0 0 5px 5px;
		display: none;
		min-width: 150px;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 500;
		box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	}

	#topbar .menu-item:hover > ul {
		display: block;
	}

	#topbar .sub-menu .menu-item {
		float: none;
	}

	#topbar .sub-menu .menu-item > a {
		border-top: 1px solid #3a3a3a;
		border-bottom: 1px solid #262627;
		display: block;
		padding: 18px 14px;
		/*width: 100%;*/
	}

	#topbar .sub-menu .menu-item:first-of-type > a {
		border-top: none;
	}

	#topbar .sub-menu .menu-item:last-of-type > a {
		border-bottom: none;
	}

	/* Level 3 */
	#topbar .sub-menu .sub-menu {
		top: 0;
		left: 100%;
	}

/* Seperator */
#topbar .sep {
	color: #6c6c6c;
}

#topbar .sub-menu .sep,
#topbar li:last-of-type .sep {
	display: none;
}

/* IE7 fixes */
.ie7 #topbar, .ie7 #topbar .wrap, .ie7 #topbar ul {
	z-index: 5;
}

.ie7 #topbar .menu-item { z-index: 10; }
.ie7 #topbar .sub-menu .menu-item > a { width: 100%; }

/**
 * RSS Subscribe link
 */
#rss-subscribe {
	font: bold 13px sans-serif;
	float: right;
	margin-right: 20px;
	padding: 21px 0;
	text-shadow: -1px -1px 0 #111;
}

#rss-subscribe a {
	color: #f0efd1;
}

#rss-subscribe a:hover {
	color: #fff;
}

/**
 * Responsive navigation
 */
@media (max-width: 979px) {

	#topbar .wrap {
		clear: left;
		overflow: hidden;
		height: 0;
	}

	#topbar .menu > ul {
		float: none;
		margin: 50px 0 9px;
	}

	#topbar .menu-item {
		float: none;
		width: 100%;
	}

	#topbar .menu-item > a {
		display: block;
		margin-bottom: 2px;
	}

	#topbar .menu-item > a:hover,
	#topbar .menu-item > a:focus,
	#topbar .current-menu-item > a,
	#topbar .current-menu-ancestor > a {
		background: #111;
		border-radius: 8px;
		color: #f4fbff;
	}

	/* Sub-menus */
	#topbar .sub-menu {
		background: none;
		display: block;
		position: static;
		margin: 0 0 5px 25px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	#topbar .sub-menu .menu-item > a {
		border: none;
	}

	#topbar .menu-item > .sep {
		display: none;
	}

	#topbar div.search {
		border: 1px solid #222;
		border-width: 1px 0;
		float: none;
		padding: 15px;
		margin-bottom: 25px;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	/* Toggle button */
	#topbar .toggle-navbar {
		color: #fff;
		cursor: pointer;
		display: block;
		font: bold 21px 'PT Serif', Georgia, serif;
		width: 100%;
		height: 43px; /* Topbar height - padding-top */
		margin: 0;
		padding-top: 16px;
		text-indent: 15px;
		position: relative;
		clip: auto;
	}

	.toggle-navbar > a {
		background-color: #2c2c2c;
		background-image: -moz-linear-gradient(top, #555, #222);
		background-image: -ms-linear-gradient(top, #555, #222);
		background-image: -webkit-linear-gradient(top, #555, #444);
		background-image: -o-linear-gradient(top, #555, #222);
		background-image: linear-gradient(top, #555, #222);
		border: 1px solid #181818;
 		border-bottom-color: #050505;
 		border-radius: 4px;
		display: block;
		font-size: 13px;
		line-height: 18px;
		color: #333333;
		text-align: center;
		padding: 7px 10px;
		position: absolute;
		top: 15px; right: 40px;
		z-index: 10;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.toggle-navbar > a:hover {
		background: #333;
	}

	.toggle-navbar > a:active {
		background: #222;
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.toggle-navbar > a > .icon-bar {
		background-color: #f5f5f5;
		border-radius: 1px;
		color: #333;
		cursor: pointer;
		display: block;
		width: 18px; height: 2px;
		font-size: 13px;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		vertical-align: text-top;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	}

	.toggle-navbar > a > .icon-bar + .icon-bar {
		margin-top: 3px;
	}
}

/**
 * Header
**************************************/

#branding {
	padding: 80px 0 50px;
}

#site-title {
	float: left;
	margin: 0 0 0 20px;
}

#site-title span {
	font-size: 46px;
	font-weight: normal;
	letter-spacing: -2px;
	text-shadow: 0 1px 0 #fff;
}

#site-title.display-header-text span {
	position: relative!important;
	clip: auto;
	/*position: absolute!important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);*/
}

#site-title a {
	color: #3083aa;
}

#site-title a:hover {
	color: #d64e20;
}

#site-description {
	color: #666;
	font: 21px 'PT Serif', Georgia, serif;
	float: right;
	margin: 15px 20px 0 0;
}

.custom-background #site-description {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.53);
	border-radius: 3px;
	color: #7a7a7a;
	padding: 4px 6px;
}

/**
 * Content
**************************************/

#content,
#footer {
	background: #fff url(images/content-orange-line.png) repeat-x;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#main,
.widget-area {
	margin-top: 40px;
}

#main {
	width: 630px;
	float: left;
	position: relative;
}

#sidebar-primary,
#sidebar-secondary {
	width: 280px;
	float: right;
}

/**
 * Layouts
**************************************/

/**
 * Widths
 */

/* One column layout */
.layout-1c #main {
	width: 940px;
}

/* Three columns */
.layout-3c-l #main,
.layout-3c-r #main {
	width: 490px;
}

.layout-3c-c #main {
	width: 500px;
	margin-left: 220px;
}

.layout-3c-c #sidebar-primary,
.layout-3c-l #sidebar-primary,
.layout-3c-r #sidebar-primary,
.layout-3c-c #sidebar-secondary,
.layout-3c-l #sidebar-secondary,
.layout-3c-r #sidebar-secondary {
	width: 200px;
}

.layout-3c-l #sidebar-primary,
.layout-3c-l #sidebar-secondary {
	margin-left: 25px;
}

.layout-3c-r #sidebar-primary,
.layout-3c-r #sidebar-secondary {
	margin-right: 25px;
}

.layout-3c-c #sidebar-primary {
	margin-left: -720px;
}

/**
 * Floating
 */

.layout-2c-r #main,
.layout-3c-r #main,
.layout-3c-c #sidebar-secondary {
	float: right;
}

.layout-3c-c #sidebar-primary,
.layout-2c-r #sidebar-primary,
.layout-3c-l #sidebar-primary,
.layout-3c-r #sidebar-primary,
.layout-2c-r #sidebar-secondary,
.layout-3c-l #sidebar-secondary,
.layout-3c-r #sidebar-secondary,
.layout-3c-l #main,
.layout-3c-c #main {
	float: left;
}

/**
 * Clearing
 */

.layout-2c-r #sidebar-secondary {
	clear: left;
}

.layout-3c-l #sidebar-primary,
.layout-3c-r #sidebar-primary,
.layout-3c-l #sidebar-secondary,
.layout-3c-r #sidebar-secondary {
	clear: none;
}

/**
 * Slider
**************************************/

#slider {
	background: #ffffe9;
 	border-bottom: 1px solid #edece6;
	width: 920px;
	padding-left: 60px;
	margin: -14px 0 0 -20px;
	position: relative;
	zoom: 1;
}

.slides-container {
	width: 880px;
	padding: 60px 0 0;
	zoom: 1;
}

#slider .slide {
	/* Hide the slides before the JS is loaded. Avoids image jumping */
	display: none;
	-webkit-backface-visibility: hidden;
}

/* Clearfix for the .slides-container element */
.slides-container:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides-container { display: block; }
* html .slides-container { height: 1%; }

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport { max-height: 300px; }

/* Slider content */
#slider .entry-summary {
	font-size: 14px;
	line-height: 25px;
	float: left;
	width: 330px;
}

#slider .thumbnail,
.slider-video {
	float: left;
	margin: 0 40px 0 0;
}

/* Control navigation */
.flex-control-nav {
	list-style: none;
	margin: 20px auto 20px -60px;
	text-align: center;
}

.flex-control-nav li {
	display: inline-block;
	margin: 0 0 0 8px;
	zoom: 1;
	*display: inline;
}

.flex-control-nav li:first-child { margin: 0; }

/* Slider pagination */
.flex-control-paging li a {
	background: #ffc768;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	width: 13px; height: 13px;
	text-indent: -9999px;
}

.flex-control-paging li a:hover {
	background: #eb724a;
}

.flex-control-paging li .flex-active {
	background: #d54e21;
	cursor: default;
}

.flex-pauseplay a {
	cursor: pointer;
}

/* Next/prev buttons */
.flex-direction-nav {
	list-style: none;
	margin: 0; padding: 0;
}

.flex-direction-nav a {
	background-color: #fff;
	border-radius: 50%;
	width: 42px; height: 42px;
	margin: 0;
	position: absolute;
	top: 200px;
	opacity: 0.8;
	text-indent: -9999px;
	box-shadow: 0 0 7px rgba(0,0,0, 0.3);
}

.flex-direction-nav a:focus {
	outline: 0;
}

.flex-direction-nav a:after {
	background: url(images/colorbox.png) no-repeat;
	content: "";
	width: 8px; height: 12px;
	position: absolute;
	z-index: 10;
	top: 15px; left: 15px;
}

.flex-direction-nav .flex-prev {
	left: -21px;
}

.flex-direction-nav .flex-next {
	right: -21px;
}

.flex-direction-nav .flex-prev:after {
	background-position: -9px -8px;
}

.flex-direction-nav .flex-next:after {
	background-position: -76px -8px;
	left: 17px;
}

#slider:hover .flex-direction-nav a {
	opacity: 1;
}

.flex-direction-nav .disabled {
	cursor: default;
	opacity: .3!important;
	filter: alpha(opacity=30);
}

.flex-direction-nav .flex-prev:active,
.flex-direction-nav .flex-next:active {
	box-shadow: inset 0 0 5px rgba(0,0,0, 0.3), 0 0 7px rgba(0,0,0, 0.3);
}

	/* No box-shadow */
	.no-boxshadow .flex-direction-nav .flex-prev,
	.no-boxshadow .flex-direction-nav .flex-next {
		border: 1px solid #ccc;
	}

	.no-boxshadow .flex-direction-nav .flex-prev:hover,
	.no-boxshadow .flex-direction-nav .flex-next:hover {
		border: 1px solid #bbb;
	}

@media screen and (max-width: 1024px) {
	.flex-direction-nav .flex-prev { opacity: 1; left: 10px; }
	.flex-direction-nav .flex-next { opacity: 1; right: 10px; }
}

/* Thumbnail nav */
.flex-control-thumbs img {
	cursor: pointer;
	display: block;
	opacity: .7;
}

.flex-control-thumbs img:hover {
	opacity: 1;
}

.flex-control-thumbs .active {
	cursor: default;
	opacity: 1;
}

/* No-javaScript fallback */
.no-js .slides-container > .slide:first-child {
	display: block;
}

/**
 * Posts
**************************************/

.hentry {
	border-bottom: 1px solid #eee;
	margin-bottom: 25px;
	padding-bottom: 25px;
	position: relative;
}

.sticky {
	background: #feffe0;
	padding: 25px 20px 20px;
}

/*Post title */
.entry-title {
	margin: 0 0 10px 0;
}

/**
 * Byline and entry meta
 */
.byline,
.entry-meta {
	color: #777;
	font: 14px sans-serif;
	margin: 0 0 15px 0;
}

.entry-meta {
	margin-bottom: 0;
}

.byline a:hover {
	background: #f2ede2;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

.singular .entry-meta {
	border-top: 1px solid #eee;
	clear: both;
	margin-top: 25px;
	padding: 25px 20px 0;
}

.page-links {
	clear: both;
}

/**
 * Breadrumbs
 */
.breadcrumbs {
	background: #f8f8f7;
	border-bottom: 1px solid #eee;
	border-radius: 7px;
	color: #666;
	font: 14px/2 'PT Serif', Georgia, serif;
	margin-bottom: 25px;
	padding: 12px 20px;
}

.breadcrumbs a {
	color: #333;
}

.breadcrumbs .trail-before {
	margin-right: 3px;
}

.breadcrumbs .sep {
	margin: 0 3px;
}

.breadcrumbs .trail-end {
	font-style: italic;
}

/**
 * Share buttons
 */
.facebook-share-button,
.twitter-share-button {
	border: none;
}

/* Post formats */
.entry-header .entry-format {
	background: none;
	border-bottom: none;
	border-radius: 0;
	color: #777;
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	padding: 0;
	position: absolute;
	text-transform: uppercase;
	text-shadow: none;
	top: -5px;
}

.entry-format a {
	color: #777;
}

.entry-format a:hover {
	color: #444;
}

.attachment .entry-format {
	position: relative;
}

.entry-header hgroup .entry-title {
	padding-top: 25px;
}

	/* Hide titles */
	.format-aside .entry-title,
	.format-quote .entry-title,
	.format-status .entry-title {
		display: none;
	}

/* Format: aside */
.format-aside {
	border-top: 5px solid #eee;
	margin-top: -26px;
	padding-top: 25px;
}

.format-aside .entry-format {
	top: 10px;
}

.format-aside .entry-header hgroup {
	padding-top: 15px;
}

/* Format: chat */
.format-chat p {
	background: #f0efef;
	padding: 5px 10px;
	border-radius: 5px;
}

.format-chat p:nth-of-type(even) {
	background: #f4f4f4;
}

/* Format: status */
.format-status .note {
	min-height: 40px;
	position: relative;
}

.format-status .note p:last-of-type {
	margin-bottom: 0;
}

.format-status .entry-header hgroup {
	padding-top: 35px;
}

.format-status .avatar {
	position: relative;
	top: -10px;
	left: -10px;
}

/* Format: quote */
.format-quote {

}

/* Format: link */
.format-link {

}

/* Format: video */
.format-video {

}

/* Format: gallery */
.format-gallery {

}

/* Format: image */
/* This style is further down, after the image and caption styling */

/**
 * Images
*************************************/

.thumbnail {
	background: #fff;
	border: 1px solid #e6e6e6;
	float: right;
	padding: 4px;
	margin-left: 15px;
	box-shadow: 0 1px 3px #eee;
}

/* Images in post content */
img[class*="wp-image-"],
img[class*="attachment-"] {
	border: 1px solid #ddd;
	padding: 6px;
}

a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"] {
	background: #f4f4f4;
	border-color: #e7e7e7;
}

.entry-content img,
.comment-content img,
.widget img {
	max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}

img[class*="wp-image-"],
.attachment-image img {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.size-full,
img.size-large {
	max-width: 97.5%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Aligned images */
img.aligncenter,
img.center {
	margin: 25px auto;
}

img.alignleft {
	margin: 10px 25px 0 0;
}

img.alignright {
	margin: 10px 0 0 25px;
}

/* Captions [caption] */
.wp-caption {
	background: #f4f4f4;
	border: solid #e7e7e7;
	border-width: 0 2px 2px 0;
	border-radius: 0 0 5px 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	max-width: 96%;
	padding: 9px;
	text-align: center;
}

.wp-caption img {
	border-color: #f4f4f4;
	display: block;
	margin: 0 auto;
	max-width: 98%;
}

.wp-caption a img {
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-o-transition: all 150ms;
	-ms-transition: all 150ms;
	transition: all 150ms;
}

.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
	background: #fff;
	border-color: #ddd;
	opacity: 0.9;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	font: 14px 'PT Serif', Georgia, Palatino, serif;
	color: #555;
	margin-bottom: 0;
	padding: 10px 0 10px;
	text-align: center;
}

.entry-caption {
	padding: 0 0 20px;
}

.gallery-caption {
	line-height: 2;
	padding: 0 0 20px;
}

	/* Aligned captions */
	.wp-caption.aligncenter {
		margin: 0 auto 25px;
	}

	.wp-caption.alignleft {
		margin: 0 25px 0 0;
	}

	.wp-caption.alignright {
		margin: 0 0 0 25px;
	}

/* Avatars */
.avatar {
	background: #fff;
	border: 1px solid #eee;
	float: left;
	/*width: 48px; height: 48px;*/
	margin: 0 15px 15px 0;
	padding: 4px;
	box-shadow: 0 1px 2px #eee;
}

/* Galleries. */
.gallery {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 auto 25px;
    text-align: center;
}

.gallery .gallery-row {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0;
}

.gallery .gallery-item {
    overflow: hidden;
    float: left;
    margin: 0;
    text-align: center;
    list-style: none;
    padding: 0;
}

.gallery .gallery-item img,
.gallery .gallery-item img.thumbnail {
    max-width: 89%;
    height: auto;
    margin: 0 auto;
}

.gallery-caption { margin-left: 0; }

/* Gallery columns */
.col-0  { width: 100%   } .col-1  { width: 100%   } .col-2  { width: 50%    } .col-3  { width: 33.33% }
.col-4  { width: 25%    } .col-5  { width: 20%    } .col-6  { width: 16.66% } .col-7  { width: 14.28% }
.col-8  { width: 12.5%  } .col-9  { width: 11.11% } .col-10 { width: 10%    } .col-11 { width: 9.09%  }
.col-12 { width: 8.33%  } .col-13 { width: 7.69%  } .col-14 { width: 7.14%  } .col-15 { width: 6.66%  }
.col-16 { width: 6.25%  } .col-17 { width: 5.88%  } .col-18 { width: 5.55%  } .col-19 { width: 5.26%  }
.col-20 { width: 5%     } .col-21 { width: 4.76%  } .col-22 { width: 4.54%  } .col-23 { width: 4.34%  }
.col-24 { width: 4.16%  } .col-25 { width: 4%     } .col-26 { width: 3.84%  } .col-27 { width: 3.7%   }
.col-28 { width: 3.57%  } .col-29 { width: 3.44%  } .col-30 { width: 3.33%  }

/* Image post format */
.format-image .entry-content {
	padding-top: 10px;
}

.format-image p,
.format-image p img {
	margin-bottom: 0;
}

.format-image .entry-meta {
	background: #e0e6e8;
	border-top: 1px solid rgba(255,255,255, 0.15);
	border-radius: 0 0 3px 3px;
	color: #606060;
	font: 14px/2 'PT Serif', Georgia, serif;
	margin-top: -7px;
	padding: 25px;
	position: relative;
}

.format-image .entry-meta div {
	display: inline-block;
	float: left;
	width: 35%;
}

.format-image .entry-meta div + div {
	float: none;
	width: 65%;
}

.format-image .entry-meta a {
	color: #333;
	text-shadow: 0 1px 0 #edf1f2;
}

.format-image .entry-meta a:hover {
	color: #cd3907;
}

#content .format-image img {
	border: none;
	border-radius: 3px;
	max-width: 100%;
	padding: 0;
}

.format-image .wp-caption {
	background: #111;
	border: none;
	border-radius: 5px 5px 0 0;
	width: 100%!important;
	margin-bottom: 0;
	padding: 13px;
}

.format-image .wp-caption .wp-caption-text {
	color: #ddd;
	padding: 20px 0 17px;
}

.format-image a:hover img {
	opacity: 0.8;
}

/* Author profile box */
.author-profile {
	/* The other styles are other 'Quotes' */
	padding: 25px 20px;
}

.author-profile .author-name {
	font-size: 18px;
	margin: 0 0 15px 0;
}

.author-profile .avatar {
	padding: 4px;
}

.twitter-link a {
	background: url(images/twitter.png) no-repeat left bottom;
	font: italic 14px Georgia, serif;
	padding-left: 25px;
}

.author-profile .twitter-link {
	text-align: right;
	margin-bottom: 0;
}

/* Loop meta */
.loop-meta {
	background: #F8F8F8;
	border-top: 1px solid #f0f0f0;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	margin: 0 0 25px 0;
	padding: 25px 20px 15px 20px;
	text-shadow: 1px 1px 0 #fff;
	box-shadow: inset 0 4px 2px #fff;
}

/* Loop title */
.loop-title {
	font: bold 16px sans-serif;
	margin-bottom: 20px;
}

.loop-title span {
	font: normal 22px 'PT Serif', Georgia, serif;
	color: #d54e21;
}

/* Loop description */
.loop-description {
	font-style: italic;
	font-size: 14px;
	color: #999;
}

.loop-description p {
	margin-bottom: 20px;
}

.loop-description em {
	font-style: normal;
}

.loop-description .avatar {
	float: right;
	width: 60px;
	height: 60px;
	margin: 0 0 10px 15px;
}

	/* Home loop-meta */
	.loop-meta-home {
		background: url(images/content-orange-line.png) repeat-x left bottom;
		border: none;
		margin: 0;
		padding: 0 0 5px 10px;
	}

	.paged .loop-meta-home {
		margin-bottom: 25px;
	}

	.loop-meta-home .loop-title {
		color: #555;
	}

/**
 * Recent Posts (on frontpage)
**************************************/

#recent-posts .recent-post {
	float: left;
	margin-right: 40px;
	width: 205px;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	transition: opacity 300ms;
}

#recent-posts .recent-post:last-of-type {
	margin-right: 0;
}

/* Lower opacity on every col except the hovered */
#recent-posts:hover .recent-post {
	filter: alpha(opacity = 75);
	opacity: 0.75;
}
#recent-posts:hover .recent-post:hover {
	filter: alpha(opacity = 100);
	opacity: 1;
}

/* Recent Posts entry info */
#recent-posts .entry-title {
	font-size: 16px;
	margin: 5px 0 10px;
	word-wrap: break-word;
}

#recent-posts .thumbnail {
	float: none;
	margin: 0;
}

#recent-posts .details {
	padding: 0 5px;
}

.recent-posts-meta,
.headline-meta,
.rss-date {
	color: #999;
	display: block;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 5px;
}

.recent-posts-meta a,
.headline-meta a {
	color: #707070;
}

.recent-posts-meta a:hover,
.headline-meta a:hover {
	color: #d64e20;
}

	/* IE fixes */
	.oldie #recent-posts .recent-post {
		margin-right: 15px;
		margin-left: 15px;
	}

/**
 * Headlines (category lists on frontpage)
**************************************/

#headlines {
	margin: 40px 0;
}

#headlines .section-title {
	margin-bottom: 15px;
}

.headline-list {
	width: 286px;
	float: left;
	margin: 0 40px 40px 0;
}

.headline-list:nth-child(3n) {
	margin-right: 0;
}

.headline-list ol {
	list-style: none;
	margin: 0;
}

.headline-list:nth-child(3n+1),
.not-found-widgets .widget:nth-of-type(3n+1) {
	clear: left;
}

.headline-list li {
	border-bottom: 1px solid #dfdfdf;
	padding: 20px 10px;
	overflow: hidden;
}

.headline-list li:hover,
.headline-list li:active {
	background: #f7fafc;
	background-image: -webkit-linear-gradient(left, #f7fafc 50%, #f2f7fc);
	background-image: -moz-linear-gradient(left, #f7fafc 50%, #f2f7fc);
	background-image: -o-linear-gradient(left, #f7fafc 50%, #f2f7fc);
	background-image: -ms-linear-gradient(left, #f7fafc 50%, #f2f7fc);
	background-image: linear-gradient(left, #f7fafc 50%, #f2f7fc);
}

/* Headlines entry info */
.headline-list .entry-title {
	font-size: 16px;
	margin: 0 0 5px;
	word-wrap: break-word;
}

.headline-list .image {
	float: left;
	width: 70px;
	margin-right: 7px;
}

.headline-list .thumbnail {
	float: none;
	max-width: 50px;
	max-height: 50px;
	margin: 0;
}

/* IE fixes */
.headline-list {
	margin-right: 10px;
	margin-left: 10px;
}

/**
 * Attachments
**************************************/

#image-info {
	overflow: hidden;
}

#image-info h4 {
	margin-bottom: 20px;
}

#image-info .image-info {
	width: 286px;
	float: left;
	margin: 0 40px 0 0;
}

.image-info dl,
.image-info dt,
.image-info dd {
	margin: 0;
}

.image-info dl {
	line-height: 50px;
}

.image-info dt {
	border-bottom: 1px solid #dfdfdf;
	font-size: 16px;
	float: left;
	width: 100%;
	padding: 5px 10px;
	text-align: left;
	clear: left;
}

.image-info dd {
	font: 14px 'PT Serif', Georgia, serif;
	float: right;
	margin-top: -40px;
	text-align: right;
}

.image-info dt:hover {
	background: #f7fafc;
	background-image: -webkit-linear-gradient(left, #f7fafc 50%, #f2f7fc);
	background-image: -moz-linear-gradient(left, #f7fafc 50%, #f2f7fc);
	background-image: -o-linear-gradient(left, #f7fafc 50%, #f2f7fc);
	background-image: -ms-linear-gradient(left, #f7fafc 50%, #f2f7fc);
	background-image: linear-gradient(to left, #f7fafc 50%, #f2f7fc);
}

#attachment-gallery {
	width: 600px;
	float: right;
}

/**
 * 404 Error page
**************************************/

.not-found-widgets {
	margin-top: 40px;
	padding-left: 5px;
}

.not-found-widgets .widget {
	width: 270px;
	float: left;
	margin: 0 20px 20px;
}

.not-found-widgets .widget:nth-of-type(3n) {
	margin-right: 0;
}

/**
 * Pagination (.pagination .loop-pagination)
**************************************/

.pagination {
	clear: both;
	font: bold 14px sans-serif;
	margin: 40px 0 30px;
}

.pagination a,
.pagination > span {
	background: #e3e3e3;
	border-radius: 3px;
	color: #464646;
	display: inline-block;
	margin: 0 2px 8px 0;
	padding: 10px 14px 9px;
	text-shadow: 0 1px 0 #fff;
	box-shadow: 0 2px 0 #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.pagination a:hover {
	background: #d54e21;
	color: #fff;
	text-shadow: 0 -1px 0 #7b000f;
	box-shadow: 0 2px 0 #9b000f;
}

.pagination .current {
	background: #464646;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 2px 0 #3e3e3e;
}

	/* Prev and next post pagination */
	.post-pagination a {
		max-width: 49%;
		line-height: 1.6;
	}

	.post-pagination a[rel=prev] {
		float: left;
	}

	.post-pagination a[rel=next] {
		float: right;
	}

/**
 * Sidebar
**************************************/

#sidebar-primary,
#sidebar-secondary {
	word-wrap: break-word;
}

#sidebar-secondary {
	clear: right;
}

/**
 * Widgets
 */
.widget {
	margin-bottom: 25px;
}

#sidebar-after-singular .widget .textwidget,
#sidebar-after-single .widget .textwidget {
	padding: 0 20px;
}

	/**
	 * Calendar
	 */
	#wp-calendar tr th,
	#wp-calendar thead th,
	#wp-calendar tr td {
		padding: 5px;
		text-align: center;
	}

	#sidebar-subsidiary #wp-calendar th,
	#sidebar-subsidiary #wp-calendar tr td {
		font-size: 12px;
		padding: 0px 0px;
	}

	/**
	 * Related Posts widget
	 */

	/* Related Posts with thumbnails turned on */
	.related-posts .with-thumbnails {
		list-style-type: none;
		margin: 0 25px;
	}

	.related-posts .with-thumbnails .related-post {
		background: #fff;
		border: 1px solid #e7e7e7;
		box-shadow: 0 2px 0 #e7e7e7;
		border-radius: 3px;
		width: 100px;
		height: 100px;
		float: left;
		margin-right: 15px;
	}

	.related-posts .with-thumbnails .related-post:hover {
		background: #d54e21;
		border-color: #9b000f;
		color: #fff;
		text-shadow: 0 -1px 0 #7b000f;
		box-shadow: 0 2px 0 #9b000f;
	}

	.related-posts .with-thumbnails .related-post:nth-of-type(5n) {
		margin-right: 0;
	}

	.related-posts .with-thumbnails .related-post > a {
		display: block;
		width: 100%; height: 100%;
		text-align: center;
		word-wrap: break-word;
		overflow: hidden;
	}

	.related-posts .with-thumbnails .related-post > a:hover {
		color: #fff;
	}

	.related-posts .with-thumbnails .related-post img {
		border: none;
		padding: 0;
		max-width: 100%;
	}

	.related-posts .with-thumbnails .related-post span {
		font: 13px 'PT Serif', Georgia, serif;
	}

	/* IE fixes */
	.related-posts .with-thumbnails .related-post {
		margin-right: 7px;
		margin-left: 7px;
	}

/**
 * Footer
**************************************/

#footer {
	background-color: #f8fafb;
	margin: 40px 0;
	position: relative;
	text-shadow: 1px 1px 0 #fff;
}

/* Footer text */
#footer .footer-content {
	margin-top: 10px;
}

#footer .copyright,
#footer .credit {
	width: 50%;
	margin-bottom: 0;
}

#footer .copyright {
	float: left;
}

#footer .credit {
	float: right;
	text-align: right;
}

/* Footer sidebar */
#sidebar-subsidiary {
	clear: both;
}

/* Two Footer Widget Areas */
#sidebar-subsidiary.two-col .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 48.1%;
}

#sidebar-subsidiary.two-col .widget-area + .widget-area {
	margin-right: 0;
}

/* Three Footer Widget Areas */
#sidebar-subsidiary.three-col .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 30.8%;
}

#sidebar-subsidiary.three-col .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

/**
 * Comments
**************************************/

.comment-list,
.comment-list ol {
	list-style: none;
	margin: 0;
}

.comment-list li.comment {
	border-bottom: 1px solid #eee;
	padding: 20px 20px 0 20px;
	overflow: hidden;
}

	/* Replies */
	.comment-list .children li.comment {
		background: #fff;
		border-top: 1px solid #eee;
		border-bottom: none;
	}

	.comment-list .depth-2 {
		border-left: 3px solid #04648d;
	}

	.comment-list .depth-3 {
		border-left: 3px solid #ce3000;
	}

	.comment-list .depth-4 {
		border-left: 3px solid #849219;
	}

	.comment-list .depth-5,
	.comment-list .depth-5 li {
		border-left: 3px solid #E1C40F;
	}

.comment-list .odd,
.comment-list .children .odd {
	background: #ffffee;
}

.comment-list .bypostauthor {
	background: #f2f7fc!important;
}

/* Comment metadata */
.comment-meta {
	color: #999;
	font: normal normal normal 12px/25px sans-serif;
	margin: 0 0 10px 0;
}

.comment-meta a {
	color: #666;
}

.comment-meta a:hover {
	color: #d64e20;
	text-decoration: none;
}

	/* Comment author */
	.comment-author {
		color: #555;
		display: block;
		font: bold 16px 'PT Serif', Georgia, serif;
	}

	.comment-author cite {
		font-style: normal;
	}

	/* Comment reply link */
	.comment-reply-link {
		border-bottom: none;
		color: #04648d;
		font-weight: bold;
	}

	a.comment-reply-link:hover,
	.comment-author cite a:hover {
		background: #568cbb;
		color: #fff;
	}

	/* Comment published date/time */
	.comment-meta abbr {
		border: none;
	}

	/* Comment text */
	.comment-text {
		clear: left;
	}

/**
 * Comment form
**************************************/

#respond {
	background: #f2f7fc url(images/content-orange-line.png) repeat-x;
	border-radius: 0 0 5px 5px;
	color: #555;
	margin: 25px 0 25px 0;
	padding: 20px 20px 0 20px;
	overflow: hidden;
}

	/* Logged-in text */
	#respond .log-in-out {
		color: #777;
		font-size: 14px;
	}

	/* Cancel reply link */
	#reply-title small a {
		font-size: 14px;
		font-style: italic;
		padding-left: 10px;
	}

/* Comment form paragraphs */
#respond p.form-author {
	float: left;
	width: 50%;
}

#respond p.form-email {
	float: right;
	width: 50%;
}

#respond p.form-url {
	clear: both;
}

/* Comment form inputs and textarea elements */
#respond input[type="text"],
#respond textarea {
	display: block;
	width: 98%;
}

#respond p.form-author input[type="text"] {
	width: 90%;
}

#respond p.form-email input[type="text"] {
	width: 90%;
	float: right;
}

/**
 * Forms
**************************************/

form { margin: 0; }

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	*margin-left: -7px;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button,
input {
	line-height: normal;
	*overflow: visible;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Submit button */
input[type="submit"],
input[type="button"],
button {
	background: #464646;
	border: none;
	border-radius: 5px;
	color: #fff;
	font: bold 16px 'PT Serif', Georgia, serif;
	padding: 11px 15px;
	text-shadow: 1px 1px 0 #3e3e3e;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
	background: #d54e21;
	border: none;
	color: #fff;
	cursor: pointer;
	text-shadow: 1px 1px 0 #b92b00;
}

/* Inputs */
input,
textarea,
select {
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 3px;
	font: 14px 'PT Serif', Georgia, serif;
	color: #999;
	padding: 7px 6px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	-ms-transition: all 200ms;
	transition: all 200ms;
}

input:focus, input:hover,
textarea:focus, textarea:hover {
	background: #fff;
	border: 1px solid #f0b03c;
	color: #555;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

select {
	color: #444;
}

/* Labels */
label {
	color: #606060;
	cursor: pointer;
	font: 14px 'PT Serif', Georgia, serif;
	padding-left: 2px;
	-webkit-transition: color 150ms;
	-moz-transition: color 150ms;
	-o-transition: color 150ms;
	-ms-transition: color 150ms;
	transition: color 150ms;
}

label:hover {
	color: #444;
}

#respond p.form-email > label {
	padding-left: 18px;
}

span.required {
	color: #555;
	font: bold 16px sans-serif;
	display: none; /* Hides the required * star */
}

/**
 * Search form
 */
.search-form label {
	padding-left: 0;
}

.search-form .search-text {
	background: #fff url(images/search.png) no-repeat 5px center;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 14px;
	line-height: 1.5;
	padding: 6px 10px 6px 27px;
	box-shadow: inset 0 1px 1px rgba(0,0,0, 0.1);
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.search-form .search-text:focus {
	background-color: #f8f8f8;
	border-color: #F0B03C;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 1px 1px #F0B03C;
	outline: 0;
}

.search-form .search-submit {
	margin-left: 10px;
}

/* Search form in sidebar */
.widget-search .search-text {
	margin-left: 10px;
	width: 77%;
}

.widget-search .search-submit {
	display: none;
}

/* Search form in the topbar */
#topbar .search {
	background: #262626 url(images/topbar.png) repeat;
	float: right;
	margin-top: 12px;
}

#topbar input {
	background-color: #666;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid #000;
	border-radius: 4px;
	color: #ffffff;
	color: rgba(255, 255, 255, 0.8);
	line-height: normal;
	padding: 7px 5px 7px 27px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.3);
}

#topbar input:hover {
	background-color: #bfbfbf;
	background-color: rgba(255, 255, 255, 0.5);
	color: #ffffff;
}

#topbar input:focus {
	background-color: #ffffff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	color: #404040;
	outline: 0;
	text-shadow: none;
}

#topbar input:-moz-placeholder 			 { color: #e6e6e6; }
#topbar input::-webkit-input-placeholder { color: #e6e6e6; }

#topbar input:focus::-webkit-input-placeholder { color: #ccc; }
#topbar input:focus::-moz-placeholder 		   { color: #ccc; }

#topbar input[type="submit"] {
	font-size: 14px;
	padding: 7px 12px;
}

#topbar input[type="submit"]:hover {
	background: #d54e21;
}

	/* IE fixes */
	.oldie #topbar input[type="text"],
	.oldie #topbar input[type="search"] {
		width: auto;
	}

	.oldie #topbar input[type="submit"] {
		width: auto;
		margin-left: 5px;
	}

/**
 * Boxes
**************************************/

.note,
.warning,
.alert,
.error,
.download,
.success {
	border-radius: 5px;
	color: #444;
	font: 14px/25px 'PT Serif', Georgia, serif;
	padding: 25px;
	margin: 0 0 25px 0;
}

/* Notes */
.note {
	background: #eee;
	border: 1px solid #e2e2e2;
}

/* Warnings/Alerts */
.warning,
.alert {
	background: #fffbbc;
	/*border: 1px solid #e6db55;*/
	box-shadow: 0 0 10px #e6db55;
}

/* Errors */
.error {
	background: #ffebe8;
	/*border: 1px solid #c00;*/
	box-shadow: 0 0 4px #c00;
}

/* Downloads/Success */
.download,
.success {
	background: #e7f7d3;
	/*border: 1px solid #6c3;*/
	box-shadow: 0 0 5px #6c3;
}

/**
 * Twitter share button
**************************************/

.twitter-share {
	display: inline-block;
	font: bold 12px/1.5 Arial, sans-serif;
	overflow: hidden;
	text-align: center;
	*display: inline; /* trigger inline-block behaviour in IE < 8 */
	zoom: 1; /* trigger hasLayout in IE < 8 */
}

.twitter-button:link,
.twitter-button:visited {
	background: url(images/tweet.png) no-repeat;
	width: 55px; height: 20px;
	float: left;
	position: relative;
	overflow: hidden;
	text-indent: -999em;
}

.twitter-button:hover,
.twitter-button:focus {
	background-position: 0 -20px;
}

.twitter-button:active {
	background-position: 0 -40px;
}

/* The count */
.twitter-count:link,
.twitter-count:visited {
	border: 1px solid #cee3f0;
	border-radius: 2px;
	color: #2a7090;
	min-width: 20px;
	height: 18px;
	line-height: 18px;
	float: left;
	margin: 0 0 0 7px;
	padding: 0 4px;
	position: relative;
	text-decoration: none;
}

.twitter-count:hover,
.twitter-count:focus,
.twitter-count:active {
	background: #e8f3f9;
	border: 1px solid #9dc6e1;
	color: #30566D;
	text-shadow: 0 1px 0 #fff;
}

/* The count tooltip. Not displayed in IE < 8 */
.twitter-count:before {
	background: url(images/tweet.png) no-repeat 0 -60px;
	content: "";
	width: 5px; height: 9px;
	margin: -4px 0 0;
	position: absolute;
	top: 50%;
	left: -5px;
}

.twitter-count:hover:before,
.twitter-count:focus:before,
.twitter-count:active:before {
	background-position: -5px -60px;
}

/* Vertical variant */
.twitter-button-size-vertical {
	padding-top: 42px;
	position: relative;
}

.twitter-button-size-vertical .twitter-count {
	font: bold 16px/34px Arial, sans-serif;
	width: 45px; height: 34px;
	margin: 0;
	text-align: center;
	position: absolute;
	top: 0; left: 0;
}

.twitter-button-size-vertical .twitter-count:before {
	background-position: -10px -60px;
	width: 9px; height: 5px;
	margin: 0 0 0 -4px;
	top: 100%; left: 50%;
}

.twitter-button-size-vertical .twitter-count:hover:before,
.twitter-button-size-vertical .twitter-count:focus:before,
.twitter-button-size-vertical .twitter-count:active:before {
	background-position: -10px -65px;
}

/**
 * Surprise!
**************************************/
.shake-it-baby{-webkit-animation:shake-it-baby 1s infinite;-webkit-transition:all 1s ease;-moz-animation:shake-it-baby 1s infinite;-moz-transition:all 1s ease;animation:shake-it-baby 1s infinite;transition:all 1s ease}
@-webkit-keyframes shake-it-baby{0%{-webkit-transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{-webkit-transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{-webkit-transform:scale(1.0) skew(0);background-color:#fff}}
@-moz-keyframes shake-it-baby{0%{-moz-transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{-moz-transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{-moz-transform:scale(1.0) skew(0);background-color:#fff}}
@keyframes shake-it-baby{0%{transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{transform:scale(1.0) skew(0);background-color:#fff}}

/**
 * Media queries for smaller screen sizes
 * These follow after primary styles so they will successfully override.
 */

@media screen and (max-width: 980px) {

	#wrapper, #topbar .wrap { width: 99%; }

	#slider {
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
		padding: 0;
	}

	#slider .entry-summary {
		max-width: 270px;
	}

	#main {
		width: 100% !important;
		float: none !important;
		margin: 0 !important;
	}

	#content,
	#footer {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	#recent-posts .recent-post,
	.headline-list {
		margin-right: 20px;
	}

	#recent-posts .recent-post {
		margin-right: 1%;
	}

	.section-title {
		margin-left: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	/* Float the sidebars so they are in two columns after the content */
	#sidebar-primary {
		float: left;
		width: 45%;
		margin: 0 !important;
	}

	#sidebar-secondary {
		width: 45%;
		margin: 0 !important;
	}

	#rss-subscribe { display: none; }

	/* Attachment page */
	#image-info .image-info {
		width: 30%;
	}

	#attachment-gallery {
		width: 60%;
	}

	/* Pagination */
	.pagination a,
	.pagination > span {
		margin-right: 2px;
		padding: 18px 24px 16px;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		-ms-transition: none;
		transition: none;
	}
}


@media screen and (max-width: 768px) {

	/* Hide slider */
	#slider {
		display: none;
	}

	/* Make the Recent Posts one column */
	#recent-posts .recent-post {
		border-bottom: 1px solid #ccc;
		float: none;
		width: 100%;
		min-height: 140px;
		padding: 20px 0;
	}

	#recent-posts .recent-post img {
		float: left;
		margin-right: 20px;
	}

	#recent-posts .section-title {
		margin-top: 20px;
	}

	/* Make the Category Headlines list two columns */
	.headline-list {
		width: 45%;
	}

	.headline-list:nth-child(2n) {
		float: right;
	}

	.headline-list li {
		padding: 10px;
	}

	#recent-posts .recent-post:hover,
	#recent-posts .recent-post:active,
	.headline-list li:hover,
	.headline-list li:active {
		background: #f7fafc;
	}

	/* Add a background to the search inputs */
	#topbar .search-form .search-text,
	#topbar .search-form .search-submit {
		background-color: #666;
	}

	/* Attachment page */
	#image-info .image-info dt {
		border-bottom: none;
		float: none;
		padding: 0;
	}

	#image-info .image-info dt:hover {
		background: none;
	}

	#image-info .image-info dd {
		float: none;
		margin: 0 0 0 20px;
		text-align: left;
	}
}

@media screen and (max-width: 480px) {

	#branding {
		text-align: center;
	}

	#site-title,
	#site-description {
		float: none;
	}

	#site-description {
		margin: 20px 0 0;
	}

	/* Hide thumbnails from the Recent Posts */
	#recent-posts img {
		display: none;
	}

	/* Make the widget areas full width */
	.widget-area,
	.headline-list {
		width: 100% !important;
		float: none !important;
	}

	/* Make the comment form better */
	#respond p.form-email,
	#respond p.form-author {
		float: none;
		width: 100%;
	}

	#respond p.form-author input[type="text"],
	#respond p.form-email input[type="text"] {
		width: 98%;
	}

	#respond p.form-email input[type="text"] {
		float: none;
	}

	#respond label {
		font-size: 16px;
	}

	#respond p.form-email > label {
		padding-left: 0;
	}

	#respond #submit {
		font-size: 18px;
		width: 100%;
		padding: 25px;
	}
}

/**
 * Print styles
 */

@media print {

	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }

	body {
		background: none !important;
		font-size: 16px;
	}

	/* Show the link address after each link in the entry content */
	.entry-content a:after {
		font-size: 12px;
		content:" [" attr(href) "] ";
	}

	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}

	#topbar, #site-title img, .sidebar, #sidebar-subsidiary, #respond, .pagination, object, embed, video, audio, iframe[src*=youtube], #slider, .format-quote .entry-format,
	blockquote:before, blockquote p:after, .twitter-share, .fb-like, .delicious-share-button, .digg-share-button, #___plusone_0, .author-profile .twitter-link, .avatar,
	.comment-meta .permalink, .comment-reply-link, .more-link, .comments-link {
		display: none !important;
	}

	#content, #footer, .loop-meta, blockquote, .author-profile, code, pre, table, tr th, thead th, tr td, tr:nth-child(2n) td, table caption {
		background: none;
	}

	#content, #footer, #footer .wrap {
		margin: 0;
	}

	#content, #footer, .thumbnail, .section-title {
		padding: 0;
	}

	.thumbnail, blockquote, .author-profile, pre {
		border: none;
	}

	#content, #footer {
		width: auto;
	}

	#content, .thumbnail, #footer, blockquote, .author-profile, table, tr th, thead th, .section-title {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	h3,
	table caption,
	.breadcrumbs,
	.section-title,
	.section-title.alternative-section-title {
		background: none;
		color: #333;
		border: none;
	}

	#main {
		width: 100%;
		margin-top: 0;
	}

	#branding {
		padding: 20px 0 0;
	}

	#site-title a:after {
		content: attr(title);
		color: #000;
		font-size: 46px;
		letter-spacing: -2px;
	}

	#footer  {
		font-size: 14px;
		margin-bottom: 10px;
	}

	#headlines { margin: 10px 0; }
	#headlines h2, .breadcrumb { margin-bottom: 0; }
	.headline-list  { margin-bottom: 5px; }

	#sidebar-after-singular .widget,
	#sidebar-after-single .widget {
		margin-bottom: 5px;
	}

	.section-title {
		margin-left: 0;
	}

	.author-profile {
		margin: 10px 0 0;
		padding: 0 25px;
	}

	blockquote {
		font-style: italic;
	}

	tr, img { page-break-inside: avoid; }
	#comments { page-break-before: always; }
	 p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }

	.comment-list li, .comment-list .bypostauthor {
		background: #fff !important;
		border-left: none !important;
	}

}
