/**
 * Development stylesheet.  Use this file for development purposes by adding this to your 'wp-config.php' file:
 * define( 'SCRIPT_DEBUG', true );
 * This allows you to build large-sized stylesheets with plenty notes and comments. Before releasing, compress
 * this file and replace the compressed CSS in the 'style.css' file.
 * @link http://www.cssdrive.com/index.php/main/csscompressor
 */
 
/* Reset stylesheet */
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,iframe{margin:0;padding:0;vertical-align:baseline;font-size:100%;background:transparent;border:none;text-decoration:none}b,i,hr,u,center,menu,layer,s,strike,font,xmp{margin:0;padding:0;vertical-align:baseline;outline:0;font-size:100%;font-weight:normal;font-style:normal;background:transparent;border:none;text-decoration:none}h1,h2,h3,h4,h5,h6{font-style:normal;font-weight:normal;margin:0 0 25px 0}p{margin:0 0 25px 0}ol,ul{list-style:none}ul{list-style:square;margin:0 0 25px 2.5em}ol{list-style-type:decimal;margin:0 0 25px 3em}ol ol{list-style:upper-roman}ol ol ol{list-style:lower-roman}ol ol ol ol{list-style:upper-alpha}ol ol ol ol ol{list-style:lower-alpha}ul ul,ol ol,ul ol,ol ul{margin-bottom:0}dl{margin:0 0 25px 5px}dl dt{font-weight:bold;margin:10px 0 0 0}dl dd{margin:5px 0 0 1.5em}strong{font-weight:bold}strong strong{font-weight:normal}em,cite{font-style:italic}em em,cite cite{font-style:normal}abbr{cursor:help}acronym{text-transform:uppercase;border-bottom:1px dashed #666;cursor:help}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:baseline;position:relative;bottom:0.3em}sub{vertical-align:baseline;position:relative;top:0.3em}address{font-style:italic;margin:0 0 25px 0}li address,dd address{margin:0}blockquote{margin:0 25px;font-style:normal}blockquote em,blockquote cite{font-style:italic}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{cursor:pointer}a img{border:none}pre{overflow:auto;font:.9em Monaco,monospace,Courier,"Courier New";line-height:25px;margin-bottom:25px;padding:10px}code{font:.9em Monaco,monospace,Courier,"Courier New"}pre code{font-size:1em}ins,dfn{font-style:italic;text-decoration:none;border-bottom:1px solid #666}del{text-decoration:line-through}object{margin-bottom:25px}input,textarea{font-size:1em;font-family:Georgia,Times,"Times New Roman",serif;padding:3px}form label{cursor:pointer}textarea{overflow:auto}option{padding:1px 2px}table{border-collapse:collapse;border-spacing:0;margin-bottom:25px}th,td{text-align:left}hr{margin-bottom:25px}img.wp-smiley{margin:0;padding:0;border:none}.gallery{display:block;text-align:center;margin-bottom:25px !important}.alignleft,.left{float:left;}.alignright,.right{float:right;}.aligncenter,.center{display:block;margin-left: auto; margin-right: auto; }.alignnone,.block{clear:both;}.clear{clear:both}img.alignleft,img.alignright{display:inline}blockquote.alignleft,blockquote .alignright{width:33%}.clearfix:before,.clearfix:after{content:"";display:block;overflow:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}.last{margin-right: 0!important}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}.assistive-text{position: absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px)}
/* End reset */

body {
	background: #e3ecf2 url(images/bg.png) repeat fixed;
	font: 16px/2 Georgia, Cambria, "Bitstream Charter", serif;
	color: #909090;	
}

#wrapper {
	width: 980px;
	margin: 0 auto;	
}

a {
	color: #54a8cf;	
}

a:hover {
	color: #d64e20;	
}

a:hover,
a:active {
    outline: 0;
}

a:focus {
    outline: thin dotted;
}

/**
 * HTML elements
**************************************/

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', Georgia, "Times New Roman", Times, serif;
	color: #555;
	line-height: 1.5;
}

h1, h2 {
	font-size: 24px;
}

h3,
.widget-title {
	color: #d54e21;	
	font-size: 22px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
	font-weight: bold;
}

h3,
.breadcrumbs,
.section-title,
.widget-title {
	background: #f7f7f7;
	border-bottom: 1px dashed #eee;
	padding: 7px 5px;	
	text-shadow: 1px 1px 0 #fff;
	border-radius: 3px 3px 0 0;
}

#main .widget-title {
	background: none;
	border-bottom: none;
	color: #666;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 0;
}

#footer .widget-title {
	font-size: 19px;	
}

/* Lists */
ul,
ol {
	line-height: 32px;	
}

/* Quotes */
blockquote,
.author-profile {
	background: #f5f8f9 url(images/quote.png);
	border: 1px solid #dde5e8; border-top: none;
	border-radius: 5px;
	color: #768D97;
	margin: 25px auto; 
	padding: 25px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 0 20px #e8f0f4, 0 1px 1px #dde5e8, 0 0 3px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 0 20px #e8f0f4, 0 1px 1px #dde5e8, 0 0 3px rgba(0, 0, 0, .05);
	box-shadow: inset 0 0 20px #e8f0f4, 0 1px 1px #dde5e8, 0 0 3px rgba(0, 0, 0, .05);
}

blockquote {
	font: 16px/32px 'PT Serif', Georgia, Palatino, "Times New Roman";
	padding: 30px 50px;
}
		
blockquote:after {
	content: "\00a0";
	background: url(images/blockquote-quote.png) no-repeat top left;
	width: 48px; height: 39px;
	position: absolute;
	top: -9px; left: -7px;
}

blockquote p {
	position: relative;	
}

blockquote p:last-of-type {
	margin-bottom: 0;
}

blockquote p:first-of-type:after {
	background: url(images/blockquote-endquote.png) no-repeat bottom right;
	content: "\00a0";
	width: 24px; height: 20px;
	margin-left: 10px;
	position: absolute;
	bottom: 0;
}

blockquote cite {
	color: #91acbe;
	display: block;
	font-size: 16px;
	margin-top: 20px;
}

blockquote blockquote {
	background: #eef7f9;
	color: #666;
}

	/* Pull quotes */
	.singular .pull {
		font-size: 19px;
		margin: 45px 10px 0;
		/* Remove styles from 'blockquote' */
		background: none;
		border: none;
		text-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.singular .pull.alignleft {
		padding-right: 0;
		margin: 45px 25px 0 0;
	}
	
	.singular .pull.alignright {
		margin: 45px 0 0 25px;
	}
	
	.singular .pull.alignleft,
	.singular .pull.alignright {
		width: 33%;
	}
	
	.singular .pull:after,
	.singular .pull p:first-of-type:after {
		opacity: 0.8;
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		transform: scale(0.7);
	}

/* Code */
code {
	background: #ffc;
	font: 12px/25px monospace, "Courier New", Courier;	
	padding: 5px 7px;
	border-radius: 5px;
}

pre {
	background: #464646;
	border: 2px solid #3e3e3e;
	border-right: none; border-left: none;
	border-radius: 5px;
	color: #fff;
	font: 14px/25px monospace, "Courier New", Courier;
	text-shadow: 1px 1px 0 #3e3e3e;
	padding: 25px; 
	white-space: pre; white-space: pre-wrap; word-wrap: break-word;
}	

pre code { background: none; font: 14px/25px monospace, "Courier New", Courier;	padding: 0; }

/* Acronyms and abbreviations */
acronym, abbr[title] {
	border-bottom: 1px dotted #ccc;
}

/* Other */
hr {
	height: 1px;
	background: #eee;
}

/* Tables */
table {
	border: 1px solid #e7e7e7;
	border-collapse: collapse; border-spacing: 0;
	font-size: 14px;
	width: 100%;
	text-align: left;
}

	/* th */
	tr th,
	thead th {
		background: #f3f9fc;
		border-left: 1px solid #e9f2f7;
		color: #444;
		font-size: 15px;
		font-weight: bold;
		padding: 9px 24px;
		-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .04);
		-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .04);
		box-shadow: inset 0 0 10px rgba(0, 0, 0, .04);
	}

	/* td */
	tr td {
		background: #fafafa;
		border: 1px solid #e7e7e7;
		padding: 6px 24px;
	}
	
	td { vertical-align: top; }
	
	tr:nth-child(2n) td {
		background: #f7f7f7;
	}
	
	tr:hover td {
		background: #fff;
	}
	
	td, td img { vertical-align: top; }
	
	/* tfoot */
	tfoot td {
		color: #777;
		font-size: 11px;
		text-transform: uppercase;	
	}
	
	tfoot th {
		color: #444;
		font-size: 12px;
		text-transform: uppercase;	
	}

	/* Table caption */
	table caption {
		background: #FFFFDB;
		border: 1px solid #F7F7AB;
		font-size: 16px;
		margin-bottom: 5px;
		padding: 10px;
		border-radius: 5px;
	}

/* Change color of selections */
::-moz-selection {
	background: #568cbb;
	color: #f4f8fb;
	text-shadow: 0 1px 0 #3d719d;
}

::selection {
	background: #568cbb;
	color: #f4f8fb;
	text-shadow: 0 1px 0 #3d719d;
}

/**
 * Topbar
**************************************/

#topbar {
	background: #333 url(images/topbar.png) repeat;
	color: #999;	
	width: 100%;
	min-height: 48px;
	position: relative;
}

#topbar:after {
	background: url(images/topbar-bottom.png) repeat-x;
	content: "\00a0";
	width: 100%;
	height: 10px;	
	position: absolute;
	bottom: -11px;
	left: 0;
}

#topbar .wrap {
	width: 980px;
	margin: 0 auto;	
}

#topbar a { color: #999; }

/* Menu */
#topbar ul {
	list-style: none;
	margin: 0;	
}

#topbar li {
	float: left;
	position: relative;
}

#topbar li a {
	display: inline-block;
	font: bold 14px Arial, Helvetica, sans-serif;
	padding: 16px 18px;
	text-shadow: 1px 1px 0 #242424;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	transition: all .15s ease;
}

#topbar li a:hover,
#topbar .current-menu-item > a,
#topbar .current-menu-ancestor > a {
	background: rgba(255, 255, 255, 0.03);
	color: #f1faff;
}

	/* Seperator */
	#topbar .sep { color: #505050; }
	
	#topbar li:last-of-type .sep,
	#topbar .sub-menu .sep {
		display: none;
	}

	/* Level 2 */
	#topbar .sub-menu {
		display: none;
		background: #333 url(images/topbar.png) repeat;
		min-width: 150px;
		position: absolute;
		left: -5px;
		z-index: 500;
		border-radius: 0 0 5px 5px;
		-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
		box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	}
	
	.ie7 #topbar .sub-menu {
		top: 100%;	
	}
	
	#topbar li:hover > ul {
		display: block;	
	}
	
	#topbar .sub-menu li {
		float: none;
	}

	#topbar .sub-menu li a {
		border-top: 1px solid #3a3a3a;
		border-bottom: 1px solid #262627;
		display: block;
		padding: 18px 14px;
	}
	
	#topbar .sub-menu li:first-of-type a {
		border-top: none;	
	}
	
	#topbar .sub-menu li:last-of-type a {
		border-bottom: none;	
	}
	
	/* Level 3 */
	#topbar .sub-menu .sub-menu {
		right: -145px;
		top: 0;
		left: auto;
	}
		
/* RSS Subscribe link */
#rss-subscribe {
	font: bold 13px Arial, Helvetica, sans-serif;
	float: right;	
	padding: 16px 0;
	text-shadow: -1px -1px 0 #242424;
}

#rss-subscribe a {
	color: #f1faff;
}

#rss-subscribe a:hover {
	color: #fff;
}

/**
 * Header
**************************************/
#branding {
	padding: 80px 0 50px;
}

#site-title {
	float: left;
	margin: 0 0 0 20px;
}

#site-title span {
	font-size: 46px;
	font-weight: normal;
	letter-spacing: -2px;
	text-shadow: 0 1px 0 #fff;
}

#site-title a:hover {
	color: #d64e20;
}

#site-description {
	color: #909090;
	font: 21px 'PT Serif', Georgia, "Times New Roman", Times, serif;
	float: right;
	margin: 15px 0 0;
	text-shadow: 0 1px 0 #fff;
}

	/* If you have a background image, you might want to use this in a childtheme */
	/*#branding {		
		background: rgba(255, 255, 255, .6);	
	}
	
	#site-description {
		background: rgba(255, 255, 255, .6);
		border-radius: 8px 0 0 8px;
		color: #222;
		margin-top: 5px;
		padding: 10px;
		text-shadow: none;
		-webkit-box-shadow: 0 0 8px rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 8px rgba(0,0,0,.3);
		box-shadow: 0 0 8px rgba(0,0,0,.3);
	}*/

/**
 * Content
**************************************/

#content,
#footer {
	background: #fff url(images/content-orange-line.png) repeat-x;
	padding: 20px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main,
.sidebar {
	margin-top: 40px;	
}

#main {
	width: 630px;
	float: left;
}

#sidebar-primary,
#sidebar-secondary {
	width: 280px;
	float: right;	
}

/**
 * Layouts
**************************************/

/* One column layout */
.layout-1c #main {
	width: 940px;
}

/* Two columns, content right layout */
.layout-2c-r #main{float:right}
.layout-2c-r #sidebar-primary{float:left}
.layout-2c-r #sidebar-secondary{float:left; clear:left}

/* Three columns */
.layout-3c-l #content,
.layout-3c-r #content,
.layout-3c-c #content {
	display: -webkit-box;
	display: -moz-box;
	display: box;	
}

/* Three columns, content left layout */
.layout-3c-l #main{-webkit-box-ordinal-group:1; -moz-box-ordinal-group:1; box-ordinal-group:1; width:490px; float:none}
.layout-3c-l #sidebar-primary, 
.layout-3c-l #sidebar-secondary{-webkit-box-ordinal-group:2; -moz-box-ordinal-group:2; box-ordinal-group:2; width:200px; float:none; margin-left:25px}

/* Three columns, content right layout */
.layout-3c-r #main{-webkit-box-ordinal-group:2; -moz-box-ordinal-group:2; box-ordinal-group:2; width:490px; float:none}
.layout-3c-r #sidebar-primary, .layout-3c-r #sidebar-secondary{-webkit-box-ordinal-group:1; -moz-box-ordinal-group:1; box-ordinal-group:1; width:200px; float:none; margin-right:25px}

/* Three columns, content centered layout */
.layout-3c-c #main{-webkit-box-ordinal-group:2; -moz-box-ordinal-group:2; box-ordinal-group:2; float:none; width:500px; margin:40px 20px 0}
.layout-3c-c #sidebar-primary{-webkit-box-ordinal-group:1; -moz-box-ordinal-group:1; box-ordinal-group:1; float:none; width:200px}
.layout-3c-c #sidebar-secondary{-webkit-box-ordinal-group:3; -moz-box-ordinal-group:3; box-ordinal-group:3; float:none; width:200px}

/**
 * Slider
**************************************/

#slider {
	background: #f8f8f8;
	border-bottom: 1px solid #edece6;
	width: 980px;
	min-height: 340px;
	margin: -14px 0 0 -20px;
	padding-top: 60px;
	position: relative;
}

.slides_container {
	margin: 0 50px 40px 50px;
	width: 880px;
	min-height: 250px;
	overflow:hidden;
	position:relative;
	
}

#slider .slide {
	width: 880px;
	min-height: 250px;
	display: none;
}

	.no-js #slider .slide { display: block; }

	/* Slider content */
	
	#slider .entry-title {
		margin-top: 10px;
	}
		
	#slider .entry-summary {
		font-size: 14px;
		line-height: 25px;
		float: left;
		width: 330px;
	}
	
	#slider .thumbnail {
		float: left;
		margin: 0 40px 0 0;
	}

	/* Slider pagination */
	.slider-pagination {
		margin: 20px auto;
		width: 200px;
		list-style: none;
		overflow: hidden;
	}
	
	.slider-pagination li {
		float: left;
		margin: 0 4px;
	}
	
	.slider-pagination li a {
		background: url(images/slider-dots.png) 0 0;
		display: block;
		width: 11px;
		height: 11px;
		float: left;
		overflow: hidden;
		text-indent: -9999px;
	}
	
	.slider-pagination li.current a {
		background-position: 0 -14px;
	}

	
/**
 * Posts
**************************************/
.hentry {
	border-bottom: 1px solid #eee;
	margin-bottom: 25px;
	padding-bottom: 25px;
	position: relative;
}

.sticky {
	background: #f8f8f8;
	padding: 25px 20px 20px;	
}

/* Post title */
.entry-title {
	margin: 0 0 10px 0;
}

/* Byline and entry meta */
.byline,
.entry-meta {
	border-bottom: none;
	color: #999;
	font: normal normal normal 14px/25px Arial, Verdana, sans-serif;
	margin: 0 0 15px 0;
}

.entry-meta { margin-bottom: 0; }

.byline a:hover {
	background: #f2ede2;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

.byline abbr,
.entry-meta abbr {
	border: none;
}

.singular .entry-meta {
	border-top: 1px solid #eee;
	clear: both;
	margin-top: 25px;
	padding-top: 25px;
}

/* Breadrumbs */
.breadcrumbs {
	color: #999;
	font-size: 13px;
	margin: 0 auto 40px;
}

.breadcrumbs a {
	color: #04648d;
}
	
.breadcrumbs .trail-before {
	margin-right: 3px;
}
	
.breadcrumbs .sep {
	margin: 0 3px;
}

.breadcrumbs .trail-end {
	font-style: italic;
}

/* Share buttons */
.facebook-share-button,
.twitter-share-button {
	border: none;
}

.twitter-share-button {
}

/* Post formats */
.entry-header .entry-format {
	background: none;
	border-bottom: none;
	border-radius: 0;
	color: #888;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	padding: 0;
	position: absolute;
	text-transform: uppercase;
	text-shadow: none;
	top: -5px;
}

.attachment .entry-format {
	position: relative;
}

.entry-header hgroup .entry-title {
	padding-top: 25px;
}

	/* Hide titles */
	.format-aside .entry-title,
	.format-quote .entry-title,
	.format-status .entry-title {
		display: none;
	}
	
.format-aside {
	border-top: 5px solid #eee;
	margin-top: -26px;
	padding-top: 25px;
}

.format-aside .entry-format {
	top: 10px;
}

.format-aside .entry-header hgroup {
	padding-top: 15px;
}

.format-chat p {
	background: #f2f2f2;
	padding: 5px 10px;
	border-radius: 3px;
}

.format-chat p:nth-of-type(2n) {
	background: #f7f7f7;
}

.format-status .note {
	position: relative;	
}

.format-status .note p:last-of-type {
	margin-bottom: 0;
}

.format-status .entry-header hgroup {
	padding-top: 35px;
}

.format-status .avatar {
	position: relative;
	top: -10px;
	left: -10px;
}

.format-quote {
	
}

.format-link {
	
}

.format-video {
	
}

.format-gallery {
	
}

.format-image {
	
}

/**
 * Images
*************************************/
.thumbnail {
	background: #fff;
	border: 1px solid #f2f2f2;
	float: right;
	padding: 4px;	
	margin-left: 15px;
	-webkit-box-shadow: 0 1px 3px #eee;
	-moz-box-shadow: 0 1px 3px #eee;
	box-shadow: 0 1px 3px #eee;
}

/* Images in post content */
img[class*="wp-image-"] {
	border: 1px solid #e7e7e7;
	padding: 6px;
}

a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"] {
	background: #f4f4f4;
	border-color: #e7e7e7;
}

.entry-content img,
.comment-content img,
.widget img {
	max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}

img[class*="wp-image-"],
.attachment-image img {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ 
}

img.size-full {
	max-width: 97.5%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */ 
}

/* Aligned images */
img.aligncenter,
img.center {
	margin: 25px auto;
}

img.alignleft {
	margin: 10px 25px 0 0;
}

img.alignright {
	margin: 10px 0 0 25px;
}

/* Captions [caption] */
.wp-caption {
	background: #f4f4f4;
	border: 2px solid #e7e7e7;
	border-width: 0 2px 2px 0;
	border-radius: 0 0 5px 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	max-width: 96%;
	padding: 9px;
}

.wp-caption img {
	border-color: #f4f4f4;
	display: block;
	margin: 0 auto;
	max-width: 98%;
}

.wp-caption a img {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	transition: all 150ms ease;
}

.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
	background: #fff;
	border-color: #ddd;
	opacity: 0.9;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	font: 14px 'PT Serif', Georgia, Palatino, "Times New Roman";
	color: #999;
	margin-bottom: 0;
	padding: 10px 0 10px;
	text-align: center;
}

.entry-caption {
	padding: 0 0 20px;	
}

.gallery-caption {
	line-height: 2;
	padding: 0 0 20px;	
}

	/* Aligned captions */
	.wp-caption.aligncenter {
		margin: 0 auto 25px;
	}
	
	.wp-caption.alignleft {
		margin: 0 25px 0 0;
	}
	
	.wp-caption.alignright {
		margin: 0 0 0 25px;
	}

/* Avatars */
.avatar {
	background: #fff;
	float: left;
	/*width: 48px; height: 48px;*/
	margin: 0 15px 15px 0;
	padding: 3px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0, 0.1);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0, 0.1);
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.1);
}

/* Galleries. */
.gallery{display:block;clear:both;overflow:hidden;margin:0 auto}.gallery .gallery-row{display:block;clear:both;overflow:hidden;margin:0}.gallery .gallery-item{overflow:hidden;float:left;margin:0;text-align:center;list-style:none;padding:0}.gallery .gallery-item img,.gallery .gallery-item img.thumbnail{max-width:89%;height:auto;padding:1%;margin:0 auto}.gallery-caption{margin-left:0}.col-0{width:100%}.col-1{width:100%}.col-2{width:50%}.col-3{width:33.33%}.col-4{width:25%}.col-5{width:20%}.col-6{width:16.66%}.col-7{width:14.28%}.col-8{width:12.5%}.col-9{width:11.11%}.col-10{width:10%}.col-11{width:9.09%}.col-12{width:8.33%}.col-13{width:7.69%}.col-14{width:7.14%}.col-15{width:6.66%}.col-16{width:6.25%}.col-17{width:5.88%}.col-18{width:5.55%}.col-19{width:5.26%}.col-20{width:5%}.col-21{width:4.76%}.col-22{width:4.54%}.col-23{width:4.34%}.col-24{width:4.16%}.col-25{width:4%}.col-26{width:3.84%}.col-27{width:3.7%}.col-28{width:3.57%}.col-29{width:3.44%}.col-30{width:3.33%}

/* Image post format */
.format-image .entry-content {
	padding-top: 10px;
}

.format-image p,
.format-image p img {
	margin-bottom: 0;
}

.format-image .entry-meta {
	background: #e0e6e8;
	border-top: 1px solid rgba(255,255,255, 0.15);
	border-radius: 0 0 3px 3px;
	font: 14px/2 'PT Serif', Georgia, serif;
	margin-top: -7px;
	padding: 25px;
	position: relative;
}

.format-image .entry-meta div {
	display: inline-block;
	float: left;
	width: 35%;
}
.format-image .entry-meta div + div {
	float: none;
	width: 65%;
}

.format-image .entry-meta a {
	color: #444;
	text-shadow: 0 1px 0 #EDF1F2;
}

.format-image .entry-meta a:hover {
	color: #d64e20;
}

#content .format-image img {
	border: none;
	max-width: 100%;
	padding: 0;
	border-radius: 3px;
}

.format-image .wp-caption {
	background: #111;
	border: none;
	border-radius: 5px 5px 0 0;
	margin-bottom: 0;
	padding: 13px;
	width: 100%!important;
}

.format-image .wp-caption .wp-caption-text {
	color: #ddd;
	padding: 20px 0 17px;
}

.format-image a:hover img {
	opacity: 0.8;
}

/* Author profile box (Find the other styles under Quotes */
.author-profile .author-name {
	font-size: 18px;
	margin: 0 0 15px 0;
}

.author-profile .avatar {
	padding: 4px;
}

.twitter-link a {
	background: url(images/twitter.png) no-repeat left bottom;
	font: italic 14px Georgia, "Times New Roman", Times, serif;
	padding-left: 25px;
}

.author-profile .twitter-link {
	text-align: right;
	margin-bottom: 0;
}

/* Page and section titles */
.section-title {
	font-size: 18px;	
}

.section-title,
.section-title a {
	color: #d54e21;	
}

.section-title a:hover {
	color: #b92b00;	
}

/* Loop meta */
.loop-meta {
	background: #F8F8F8;
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
	margin: 0 0 25px 0;
	padding: 25px 20px 15px 20px;
	text-shadow: 1px 1px 0 #fff;
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow: inset 0 4px 2px #fff;
	-moz-box-shadow: inset 0 4px 2px #fff;
	box-shadow: inset 0 4px 2px #fff;
}

/* Loop title */
.loop-title {
	font: bold 16px Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}

.loop-title span {
	font: normal 22px 'PT Serif', Georgia, serif;
	color: #d54e21;
}

/* Loop description */
.loop-description {
	font-style: italic;
	font-size: 14px;
	color: #999;
}

.loop-description p {
	margin-bottom: 20px;
}

.loop-description em {
	font-style: normal;
}
	
.loop-description .avatar {
	float: right;
	width: 60px;
	height: 60px;
	margin: 0 0 10px 15px;
}

	/* Home loop-meta */
	.loop-meta-home {
		background: url(images/content-orange-line.png) repeat-x left bottom;
		border: none;
		margin: 0;
		padding: 0 0 5px 10px;
	}
	
	.paged .loop-meta-home {
		margin-bottom: 25px;	
	}
	
	.loop-meta-home .loop-title {
		color: #555;
	}

/**
 * Recent Posts (on frontpage)
**************************************/

#recent-posts article {
	float: left;
	margin-right: 40px;
	width: 205px;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

#recent-posts article:last-of-type { margin-right: 0; }

	/* Lower opacity on every col except the hovered */
	#recent-posts:hover article {
		opacity: 0.75; 
	}
	#recent-posts:hover article:hover {
		opacity: 1;
	}

#recent-posts .thumbnail {
	float: none;
	margin: 0;
}

#recent-posts .entry-title,
.headline-list .entry-title {
	background: none;
	border-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	margin: 5px 0 10px;
	padding: 0;
	word-wrap: break-word;
}

#recent-posts .details {
	padding: 0 5px;	
}

.recentposts-meta {
	display: block;
	margin-bottom: 5px;
}

.recentposts-meta,
.headline-meta {
	color: #aaa;
	font-size: 12px;
	font-style: italic;
}

.recentposts-meta a,
.headline-meta a {
	color: #999;
}

/**
 * Headlines (category lists on frontpage)
**************************************/

#headlines {
	margin: 40px 0;
}

.headline-list {
	width: 286px;
	float: left;
	margin: 0 40px 40px 0;
}

.headline-list ol {
	list-style: none;
	margin: 0;	
}

.headline-list li {
	border-bottom: 1px solid #eee;
	padding: 20px 5px;
	overflow: hidden;
}

.headline-list li:hover {
	background: #fefdf0;	
}

.headline-list .image {
	float: left;
	width: 70px;
}

.headline-list .details {
	float: right;
	width: 200px;
}

.headline-list .thumbnail {
	float: none;
	max-width: 50px;
	max-height: 50px;
	margin: 0;
}

.headline-list .entry-title {
	margin: 0 0 5px;
}

/**
 * Attachments
**************************************/

#image-info {
	overflow: hidden;
}

#image-info .headline-list {
	margin-bottom: 0;
}

#image-info ul {
	margin: 0;
}

#attachment-gallery {
	width: 610px;
}

#image-info li {
	display: block;
	font: 14px 'PT Serif', Georgia, serif;
	text-align: right;
}

#image-info li .prep {
	font-size: 16px;
	font-weight: bold;
	float: left;
	text-align: left;
}

/**
 * 404 Error page
**************************************/

.not-found-widgets {
	margin-top: 40px;
	padding-left: 5px;
} 

.not-found-widgets .widget {
	width: 270px;
	float: left;
	margin: 0 20px 20px;
}

.not-found-widgets .widget:nth-of-type(3n) {
	margin-right: 0;	
}

/**
 * Pagination (.pagination .loop-pagination)
**************************************/

.pagination {
	clear: both;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: 40px 0 30px;
}
 
.pagination a,
.pagination > span {
	background: #e3e3e3;
	color: #464646;
	display: inline-block;
	margin-right: 2px;
	padding: 6px 10px 5px;
	text-shadow: 0 1px 0 #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 0 #ccc;
	-moz-box-shadow: 0 2px 0 #ccc;
	box-shadow: 0 2px 0 #ccc;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
 
.pagination a:hover {
    color: #fff;
    background: #d54e21;
    text-shadow: 0 -1px 0 #7b000f;
    -webkit-box-shadow: 0 2px 0 #9b000f;
	-moz-box-shadow: 0 2px 0 #9b000f;
	box-shadow: 0 2px 0 #9b000f;
}
 
.pagination .current {
    background: #464646;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    -webkit-box-shadow: 0 2px 0 #3e3e3e;
	-moz-box-shadow: 0 2px 0 #3e3e3e;
	box-shadow: 0 2px 0 #3e3e3e;
}

	/* Prev and next post pagination */
	.post-pagination a {
		max-width: 49%;
		line-height: 1.6;
	}

	.post-pagination a[rel=prev] {
		float: left;
	}

	.post-pagination a[rel=next] {
		float: right;
	}

/**
 * Sidebar
**************************************/

#sidebar-primary,
#sidebar-secondary {
	font-size: 14px;
	line-height: 25px;
	word-wrap: break-word;
}

#sidebar-secondary {
	clear: right;
}

/* Widgets */

.widget {
	margin-bottom: 25px;
}

	/* Calendar */
	#wp-calendar tr th,
	#wp-calendar thead th,
	#wp-calendar tr td{
		padding: 5px;
		text-align: center;
	}

/**
 * Footer
**************************************/

#footer {
	background-color: rgba(255, 255, 255, 0.75);
	margin: 40px 0;
	position: relative;
	text-shadow: 1px 1px 0 #fff;
}

#footer .wrap {
	margin: 10px 0 20px;
}

/* Footer text */
#footer .copyright {
	float: left;
	width: 50%;
}

#footer .credit {
	float: right;
	width: 50%;
	text-align: right;
}

/* Footer widgets */
#sidebar-subsidiary {
	clear: both;
	margin-top: 20px;
/*	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;*/
	
	overflow: hidden;
}

#sidebar-subsidiary .widget {
	margin-right: 20px;
/*	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;*/
	
	float: left;
	width: 220px;
}

#sidebar-subsidiary .widget:nth-child(4n) {
	margin-right: 0 !important;
}
	
	/* No support for CSS3 flexbox */
/*	.no-flexbox #sidebar-subsidiary {
		overflow: hidden;
	}
	
	.no-flexbox #sidebar-subsidiary .widget {
		float: left;
		width: 220px;
	}*/

/**
 * Comments
**************************************/

.comment-list, 
.comment-list > ol {
	list-style: none;
	margin: 0;
}

.comment-list .comment {
	border-bottom: 1px solid #eee;
	padding: 20px 20px 0 20px;
	overflow: hidden;
}

	/* Replies */
	.comment-list .children .comment {
		background: #fff;
		border-top: 1px solid #eee;
		border-bottom: none;
	}
	
	.comment-list .depth-2 {
		border-left: 3px solid #04648d;
	}
	
	.comment-list .depth-3 {
		border-left: 3px solid #ce3000;
	}
	
	.comment-list .depth-4 {
		border-left: 3px solid #849219;
	}
	
	.comment-list .depth-5,
	.comment-list .depth-5 li {
		border-left: 3px solid #E1C40F;
}

.comment-list .odd,
.comment-list .children .odd {
	background: #ffffee;
}

.comment-list .bypostauthor {
	background: #F2F7FC!important;
}

/* Comment metadata */
.comment-meta {
	color: #999;
	font: normal normal normal 12px/25px Arial, Verdana, sans-serif;
	margin: 0 0 10px 0;
}

.comment-meta a {
	color: #666;
}

.comment-meta a:hover {
	text-decoration: none;
}

	/* Comment author */
	.comment-author {
		color: #666;
		font: bold 16px 'PT Serif', Georgia, "Times New Roman", Times, serif;
	}
	
	.comment-author cite {
		font-style: normal;
	}

	/* Comment reply link */
	.comment-reply-link {
		border-bottom: none;
		color: #04648d;
		font-weight: bold;
	}

	.comment-reply-link:hover,
	.comment-author cite a:hover {
		background: #568cbb;
		color: #fff;
	}

	/* Comment published date/time */
	.comment-meta abbr {
		border: none;
	}
	
	/* Comment text */
	.comment-text {
		clear: left;
	}
	
/**
 * Comment form
**************************************/
#respond {
	background: #F2F7FC url(images/content-orange-line.png) repeat-x;
	border-radius: 0 0 5px 5px;
	color: #555;
	margin: 25px 0 25px 0;
	padding: 20px 20px 0 20px;
	overflow: hidden;
}

#respond h3 {
	background: none;
	border: none;	
}

	/* Logged-in text */
	#respond .log-in-out {
		color: #777;
		font-size: 14px;
	}
	
	/* Cancel reply link */
	#reply-title small a {
		font-size: 14px;
		font-style: italic;
		padding-left: 10px;
	}
	
/* Comment form paragraphs */
#respond p.form-author {
	float: left;
	width: 50%;
}

#respond p.form-email {
	float: right;
	width: 50%;
}

#respond p.form-url {
	clear: both;
}
	
/* Comment form inputs and textarea elements */
#respond input[type="text"], 
#respond textarea {
	display: block;
	width: 98%;
}
	
#respond p.form-author input[type="text"] {
	width: 90%;
}

#respond p.form-email input[type="text"] {
	width: 90%;
	float: right;
}
	
/**
 * Forms
**************************************/

input,
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 3px;
	font: 14px 'PT Serif', Georgia, "Times New Roman", Times, serif;
	color: #999;
	padding: 7px 6px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	transition: all 200ms ease;
}

input:focus, input:hover,
textarea:focus, textarea:hover {
	background: #fff;
	border: 1px solid #f0b03c;
	color: #555;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* Submit button */
input[type="submit"],
input[type="button"],
button {
	background: #464646;
	border: none;
	color: #fff;
	font: bold 16px 'PT Serif', Georgia, "Times New Roman", Times, serif;
	padding: 11px 15px;
	text-shadow: 1px 1px 0 #3e3e3e;
	border-radius: 5px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
	background: #d54e21;
	cursor: pointer;
	text-shadow: 1px 1px 0 #b92b00;
}

/* Labels */
label {
	color: #999;
	font: 14px 'PT Serif', Georgia, "Times New Roman", Times, serif;
	padding-left: 2px;
	-webkit-transition: color 150ms ease;
	-moz-transition: color 150ms ease;
	transition: color 150ms ease;
}

label:hover {
	color: #444;	
}

#respond p.form-email label {
	padding-left: 18px;
}

span.required {
	color: #555;
	font: bold 16px Arial, Helvetica, sans-serif;
	display: none; /* Hides the required * star */
}

/* Search form */
.search-form input[type="text"],
.search-form input[type="search"] {
	width: 55%;
}
.search-form input[type="submit"] {
	min-width: 80px;
	width: 30%;
	padding: 10px;
	margin-left: 4%;
}

/* Search form in the topbar */
#topbar .search {
	float: right;
	margin-top: 6px;
}

#topbar .search input[type="text"],
#topbar .search input[type="search"] {
	border: none;
	padding: 7px 6px;
}

#topbar .search input[type="submit"] {
	background: #4f4f4f;
	font-size: 14px;
	padding: 7px 10px;
}

#topbar .search input[type="submit"]:hover {
	background: #d54e21;
}

/**
 * Boxes
**************************************/

.note,
.warning,
.alert,
.error,
.download,
.success {
	color: #444;
	font: 14px/25px 'PT Serif', Georgia, "Times New Roman", Times, serif;
	padding: 25px;
	margin: 0 0 25px 0;
	border-radius: 5px;	
}

/* Notes */
.note {
	background: #eee;
	border: 1px solid #e2e2e2;
}

/* Warnings/Alerts */
.warning,
.alert {
	background: #fffbbc;
	/*border: 1px solid #E6DB55;*/
	box-shadow: 0 0 10px #E6DB55;
}

/* Errors */
.error {
	background: #ffebe8;
	/*border: 1px solid #C00;*/
	box-shadow: 0 0 4px #C00;
}

/* Downloads/Success */
.download,
.success {
	background: #e7f7d3;
	/*border: 1px solid #6c3;*/
	box-shadow: 0 0 5px #6c3;
}

/* No use for this yet.. Maybe colorbox plugin for a child theme?? */
/*.overlay {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transition: 0.25s opacity;
  background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5),
                                      rgba(127, 127, 127, 0.5) 35%,
                                      rgba(0, 0, 0, 0.7));
  bottom: 0;
  display: -webkit-box;
  left: 0;
  padding: 20px;
  padding-bottom: 130px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}*/


.shake-it-baby{-webkit-animation:shake-it-baby 1s infinite;-webkit-transition:all 1s ease;-moz-animation:shake-it-baby 1s infinite;-moz-transition:all 1s ease;animation:shake-it-baby 1s infinite;transition:all 1s ease}
@-webkit-keyframes shake-it-baby{0%{-webkit-transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{-webkit-transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{-webkit-transform:scale(1.0) skew(0);background-color:#fff}}
@-moz-keyframes shake-it-baby{0%{-moz-transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{-moz-transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{-moz-transform:scale(1.0) skew(0);background-color:#fff}}
@keyframes shake-it-baby{0%{transform:scale(1.1) skew(-2deg)}10%{background-color:#f00}20%{background-color:#f300ff}30%{background-color:#f3ffba}40%{background-color:#00f9ff}50%{transform:scale(1.15) skew(1deg); background-color:#08ff00}60%{background-color:#fff700}70%{background-color:#ff2a00}80%{background-color:#60a63a}90%{background-color:#0500ff}100%{transform:scale(1.0) skew(0);background-color:#fff}}

/**
 * Layouts for browser who don't support CSS3 flexbox
**************************************/

/* One column layout */
.no-flexbox .layout-1c #main{width:940px}

/* Two columns, content right layout */
.no-flexbox .layout-2c-r #main{float:right}
.no-flexbox .layout-2c-r #sidebar-primary{float:left}
.no-flexbox .layout-2c-r #sidebar-secondary{float:left; clear:left}

/* Three columns, content left layout */
.no-flexbox .layout-3c-l #main{float:left; width:490px}
.no-flexbox .layout-3c-l #sidebar-primary, 
.no-flexbox .layout-3c-l #sidebar-secondary{clear:none; float:left; width:200px; margin-left:25px}

/* Three columns, content right layout */
.no-flexbox .layout-3c-r #main{float:right; width:490px}
.no-flexbox .layout-3c-r #sidebar-primary, 
.no-flexbox .layout-3c-r #sidebar-secondary{clear:none; float:left; width:200px; margin-right:25px}

/* Three columns, content centered layout */
.no-flexbox .layout-3c-c #main{float:left; width:500px; margin-left:220px}
.no-flexbox .layout-3c-c #sidebar-primary{float:left; width:200px; margin-left:-720px}
.no-flexbox .layout-3c-c #sidebar-secondary{float:right; width:200px}

/**
 * Media queries for smaller screen sizes
 * @todo Improve this
 * These follow after primary styles so they will successfully override.
 */

@media screen and (max-width: 979px) {
	
	#wrapper, #topbar .wrap { width: 98%; }
	#main { width: 100% !important; }
	#slider { display: none; }
	
	#rss-subscribe { display: none; }
	#site-description { margin-right: 25px; }

	#sidebar-primary { float: left; width: 45%;}
	#sidebar-secondary { width: 45%; }

	#recent-posts li, .headline-list { margin-right: 20px; }
	#recent-posts article { margin-right: 1%; }
}

@media screen and (max-width: 460px) {
	#sidebar-primary, #sidebar-secondary, #slider, #sidebar-subsidiary .widget { display: none; }
}


/**
 * Print styles
 */

@media print {

	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	
	body {
		background: none !important;
		font-size: 16px;
	}
	
	.entry-content a:after {
		content:" [" attr(href) "] "; /* Show URLs */
	}
	
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	
	#branding { padding: 20px 0 0; }
	
	#content, #footer, .loop-meta { background-image: none !important; }
	
	#content {
	    margin: 0;
	    width: auto;
	}
	
	#content, .thumbnail {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.thumbnail { border: none; padding: 0; }
	
	#main { width: 100%; margin-top: 0; }
	#headlines { margin: 10px 0; }
	#headlines h2, .breadcrumb { margin-bottom: 0; }
	.headline-list  { margin-bottom: 5px; }
	
	#sidebar-after-singular .widget,
	#sidebar-after-single  .widget {
		margin-bottom: 5px;
	}
	
	h3,
	.breadcrumbs,
	.section-title {
		background: none;
		color: #333;	
		border-bottom: none;
	}
	
	#topbar, #site-title img, #sidebar-primary, #sidebar-secondary, #footer, #respond, .pagination, iframe[src*=youtube], #slider, .format-quote .entry-format { display: none; }
	
	#site-title a:after {
		content: attr(title);
		color: #111;
		font-size: 46px;
		letter-spacing: -2px;
	}
	
	blockquote, .author-profile {
		background: none;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;	
	}
	
	.author-profile {
		margin: 0;
		padding: 0 25px;
	}
	
	tr, img { page-break-inside: avoid; }
	#comments { page-break-before: always; }
	 p, h2, h3 { orphans: 3; widows: 3; }
  	h2, h3{ page-break-after: avoid; }

	.twitter-share-button,
	.facebook-share-button,
	.delicious-share-button,
	.digg-share-button,
	#___plusone_0,
	.author-profile .twitter-link,
	.avatar	{
		display: none !important;
	}
	
	.comment-list li {
		background: #fff !important;
		border-left: none !important;
	}
	
	code, pre { background: none; }
	
	pre { color: #111; border: none; }

	table, tr th, thead th {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	table, tr th, thead th, tr td, tr:nth-child(2n) td, table caption {
		background: none;
	}

}