/**
 * CSS for the Multi Select script
 *
 */

.ms-container {
	background: transparent url('switch.png') no-repeat 31.7% center;
}

.ms-container:before,
.ms-container:after {
    content: " ";
    display: table;
}

.ms-container:after {
    clear: both;
}

.ms-selected {
	display:none;
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
	float: left;
	min-width: 150px;
	width: 30%;
	color: #555;
}

.ms-container .ms-selectable {
	margin-right: 4%;
}

.ms-container .ms-list {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 200ms, box-shadow linear 200ms;
	transition: border linear 200ms, box-shadow linear 200ms;
}

.ms-container .ms-list.ms-focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow:
		inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted \9;
}

.ms-container ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.ms-container .ms-optgroup-container {
	width: 100%;
}

.ms-container ul.ms-list {
	width: 100%;
	height: 200px;
	padding: 0;
	overflow-y: auto;
}

.ms-container .ms-optgroup-label {
	margin: 0;
	padding: 5px 0px 0px 5px;
	color: #999;
	cursor: pointer;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
	border-bottom: 1px #eee solid;
	padding: 2px 10px;
	color: #555;
	font-size: 14px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
	background-color: #08c;
	cursor: pointer;
	color: #fff;
	text-decoration: none;

}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled {
	background-color: #eee;
	color: #aaa;
	cursor: text;
}
