/* =============================================================================
   Layout
   ========================================================================== */

/*
 * Set site width and center the site.
 */
.site-wrapper {
	width: 100%;
	max-width: @width-site;
	margin: 0 auto;
}

.site-content,
.site-footer {
	position: relative;
	padding: @gutter-width @gutter-width @gutter-width;
	background-color: #fff;
	border-top: @orange-line;
	box-shadow: 1px 1px 10px fade(#000, 10%);
}

.site-content {
	outline: 0; // remove outline when focused by a skip-to-content link
}
