/* =============================================================================
   Layout:  Footer
   ========================================================================== */

.site-footer {
	position: relative;
	margin: @gutter-width 0;
	padding: @gutter-width @gutter-width @gutter-width;
	background-color: #fff;
	border-top: @separator-border;
	box-shadow: 1px 1px 10px fade(#000, 10%);
	text-shadow: 1px 1px 0 #fff;

	@media screen and (max-width: 1080px) {
		border-radius: 0;
		box-shadow: none;
	}

	@media screen and (max-width: 980px) {
		padding-left: @gutter-width-small;
		padding-right: @gutter-width-small;
	}
}

/*
 * Footer content
 */
.footer-content {
	.alignleft,
	.alignright,
	.copyright,
	.credit {
		width: 48%;
	}

	.copyright {
		float: left;
	}

	.credit,
	.alignright,
	.column-last {
		float: right;
		text-align: right;
	}

	@media screen and (max-width: 620px) {
		.alignleft,
		.alignright,
		.copyright,
		.credit {
			width: 100%;
			text-align: center;
		}
	}
}


/*
 * Footer Widget Area
 */
.sidebar-subsidiary {
	clear: both;
	margin-top: @gutter-width-small;

	// Two columns
	&.two-col .widget-area {
		float: left;
		width: 48%;
		margin-right: 4%;
	}

	// Three columns
	&.three-col .widget-area {
		float: left;
		width: 31%;
		margin-right: 3.5%;
	}

	// Remove margin on the last widget-area
	.widget-area:last-of-type {
		margin-right: 0;
	}

	// Turn 3 columns into 2 columns
	@media screen and (max-width: 768px) {
		&.three-col .widget-area {
			width: 48%;
			margin-right: 4%;
		}

		.widget-area:nth-of-type(2) {
			margin-right: 0;
		}
	}

	// Turn 2 columns into 1 column
	@media screen and (max-width: 620px) {
		&.two-col .widget-area,
		&.three-col .widget-area {
			width: 100%;
			margin-right: 0;
		}
	}
}
