/* =============================================================================
   Layout:  Header
   ========================================================================== */

.site-header {
	margin-top: @topbar-height-bottom;
	padding: (@gutter-width * 1.5) @gutter-width;
}


.site-title {
	float: left;
	margin: 0;
	.font-size(46);
	letter-spacing: -2px;
	text-shadow: 0 1px 0 #fff;

	img {
		vertical-align: middle;
	}
}


.site-description {
	float: right;
	margin: @gutter-width-small 0 0 0;
	padding: 2px 8px;
	.font-size(@headings-size-small);
	letter-spacing: -1px;
	background-color: #fff;
	background-color: fade(#fff, 53%);
	border-radius: 3px;
	color: @gray;

	&:empty {
		background: none;
	}
}


/*
 * Use Flexbox to vertically center the site title and description
 */
.flexbox {
	.site-header {
		display: flex;
	}

	.site-title,
	.site-description {
		margin: auto;
	}

	.site-description {
		margin-right: 0;
	}
}


@media screen and (max-width: 980px) {
	.site-header {
		padding-left: @gutter-width-small;
		padding-right: @gutter-width-small;
	}
}


// Turn the header into a single column
@media screen and (max-width: 768px) {

	.site-header {
		text-align: center;
	}

	.site-title,
	.site-description {
		float: none;
	}

	.flexbox {
		.site-header {
			display: block;
		}

		.site-title,
		.site-description {
			margin: 0 auto;
		}

		.site-title {
			margin-bottom: @gutter-width-small;
		}
	}
}
