/* =============================================================================
   Layout:  Topbar
   ========================================================================== */

.topbar {
	position: relative;
	min-height: @topbar-height;
	background: @topbar-bg url(images/topbar.png) repeat;
	color: @topbar-color;

	&:after {
		content: "";
		position: absolute;
		bottom: (-@topbar-height-bottom - 1px); // -11px
		left: 0;
		.size(100%, @topbar-height-bottom);
		background: url(images/topbar-bottom.png) repeat-x;
	}
}


/* =============================================================================
   Layout:  Shared navigation styles
   ========================================================================== */

.site-navigation {
	ul {
		.no-list-style();
	}

	.menu-item {
		position: relative;
	}

	.menu-item > a {
		display: inline-block;
	}

	.menu-item > a:hover {
		text-decoration: none;
	}

	// Sub menu
	.sub-menu {
		display: none;

		.menu-item > a {
			display: block;
		}
	}

	// Display the sub menus toggle click
	.submenu-toggled-on {
		display: block;
	}
}


// Mobile navigation
@media screen and (max-width: 979px) {

	.site-navigation {
		.menu-list-container,
		.search-form {
			display: none;
		}

		&.toggled-on .menu-list-container,
		&.toggled-on .search-form {
			display: block;
		}

		&.toggled-on .search-form {
			display: flex;
		}

		.menu-list-container {
			padding: @gutter-width-small;
		}

		.menu-item > a {
			width: 100%;
			border-bottom: 1px solid;
		}

		.sep {
			display: none;
		}

		.sub-menu {
			margin-left: @gutter-width;
		}
	}

	// Show menu titles
	.menu-title {
		clip: auto;
		position: static;
		overflow: visible;
		.size(100%, auto);
		margin: 0;
		clear: both;
		position: static !important;
	}

}


// Desktop navigation
@media screen and (min-width: 980px) {

	.site-navigation {
		.menu-item {
			float: left;
		}

		.menu-item:last-of-type .sep,
		.sub-menu .sep, {
			display: none;
		}

		.sub-menu {
			position: absolute;
			z-index: 500;
			top: 100%;
			left: 0;
			min-width: 200px;
		}

		.sub-menu .menu-item {
			float: none;
		}

		// Level n
		.sub-menu .sub-menu {
			top: 0;
			left: 100%;
		}
	}

}


/* =============================================================================
   Layout:  Primary navigation
   ========================================================================== */

.main-navigation {
	.menu-item > a {
		padding: 20px 15px;
		color: @topbar-color;
		border-bottom-color: lighten(@topbar-bg, 10%);
		#font > .shorthand(@font-size-medium, bold, normal);
		text-shadow: 1px 1px 0 darken(@topbar-color, 70%);
		transition: all 150ms ease;
	}

	.menu-item > a:hover,
	.menu-item > a:focus,
	.current-menu-item > a,
	.current-menu-ancestor > a {
		background-color: fade(#fff, 8%);
		background-image: linear-gradient(to bottom, fade(#fff, 0%), fade(#fff, 20%) 100%);
		color: #fff;
	}

	.menu-item > a:active {
		background: lighten(@topbar-bg, 8%);
	}
}


@media screen and (max-width: 979px) {
	.main-navigation .menu-toggle {
		.toggle-button();
	}
}


@media screen and (min-width: 980px) {

	.main-navigation {
		.clearfix();
		width: @width-site;
		margin: 0 auto;
		padding: 0 @gutter-width 0 (@gutter-width - 15px); // 15px is the padding-left on .menu-item a {}

		.sep {
			color: darken(@topbar-color, 20%);
		}

		// Sub menus
		.sub-menu {
			background: @topbar-bg url(images/topbar.png) repeat;
			border-radius: 0 0 5px 5px;

			.menu-item > a {
				border-top: 1px solid lighten(@topbar-bg, 10%);
				border-bottom: 1px solid darken(@topbar-bg, 10%);
			}

			.menu-item:first-of-type > a {
				border-top: none;
			}

			.menu-item:last-of-type > a {
				border-bottom: none;
			}

			.sub-menu {
				border-radius: 0;
			}
		}

		// Display the sub menus on hover
		.menu-item:hover > .sub-menu {
			display: block;
		}
	}

}


// =============================================================================
// Secondary Navigation
// =============================================================================

.secondary-navigation {
	.menu-item > a {
		color: darken(@gray, 5%);
	}

	.menu-item > a:hover,
	.menu-item > a:focus {
		background-color: darken(#fff, 10%);
		color: darken(@link-color-hover, 10%);
	}

	.current-menu-item,
	.current-menu-ancestor {
		z-index: 10; // Move above the box-shadow on .site-content
	}

	.current-menu-item > a,
	.current-menu-ancestor > a {
		background-color: @separator-border-color;
		color: @gray-darker;
		font-weight: bold;

		&:hover {
			background-color: lighten(@separator-border-color, 10%);
			color: @gray-dark;
		}
	}
}


@media screen and (max-width: 979px) {

	.secondary-navigation {
		background: #fff;

		.menu-item > a {
			border-bottom-color: darken(#fff, 10%);
			padding: 10px 14px;
		}

		.menu-toggle {
			.toggle-button( darken( #fff, 1% ), darken( #fff, 5% ) );
		}
	}

}

@media screen and (min-width: 980px) {

	.secondary-navigation {
		background-image: linear-gradient(to bottom, fade(#fff, 40%), fade(#fff, 70%));
		border-radius: 5px 5px 0 0;

		.no-cssgradients & {
			background-color: #f8fafb;
		}

		.menu {
			.clearfix();
			margin-left: 20px;
		}

		.menu-item > a {
			padding: 14px 20px;
			.font-size(@font-size-small);
			text-transform: uppercase;
		}

		// Sub menus
		.sub-menu {
			a {
				padding: 10px 14px;
				border-bottom: 1px solid lighten(@gray-dark, 10%);
				.font-size(@font-size-small);
				background: @gray-darker;
				color: @gray-lighter;
				text-transform: none;
				white-space: normal;

				&:hover {
					background: darken(@gray-darker, 13%);
					color: #fff;
				}
			}

			.menu-item:last-of-type > a {
				border-bottom: none;
			}
		}

		// Display the sub menus on hover
		.menu-item:hover > .sub-menu {
			display: block;
		}
	}

}

// =============================================================================
// Navigation dropdown toggles
// =============================================================================

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	padding: 10px 0;
	line-height: normal; // reset line-height set on li's
	text-transform: lowercase; // Stop screen readers to read the text as capital letters
	position: absolute;
	top: 0;
	right: 0;

	// The icon
	&:after {
		&:extend(.genericon);
		content: "\f431"; // 'expand' icon
		width: @dropdown-toggle-width;
		font-size: @dropdown-toggle-size;
		position: relative;
		top: 0;
		right: 0;
	}

	&.submenu-open:after {
		content: "\f432"; // 'collapse' icon
	}
}

// Make room for the toggle icons
// excerpt when JS is disabled as the toggles are added with JS
.js .site-navigation .menu-item-has-children > a {
	padding-right: (@dropdown-toggle-width + @dropdown-toggle-spacing);
}


.main-navigation .dropdown-toggle {
	&:hover,
	&:focus {
		background-color: fade(#fff, 8%);
		background-image: linear-gradient(to bottom, fade(#fff, 0%), fade(#fff, 20%) 100%);
	}

	&:focus {
		outline: 1px solid fade(#000, 80%);
	}
}

.secondary-navigation .dropdown-toggle {
	&:hover,
	&:focus {
		background-color: fade(#000, 10%);
	}

	&:focus {
		outline: 1px solid fade(#000, 30%);
	}
}


@media screen and (max-width: 979px) {

	.main-navigation .dropdown-toggle {
		padding: 20px 0; // centered
	}

	.secondary-navigation .dropdown-toggle {
		padding: 16px 0; // centered
	}

}


@media screen and (min-width: 980px) {

	.site-navigation .dropdown-toggle {
		height: 100%;
	}

	.site-navigation .sub-menu .dropdown-toggle {
		&:focus {
			outline: 0;
		}

		// Sub menus expand to the right
		&:after {
			transform: rotate(-90deg);
		}
	}

	.main-navigation .dropdown-toggle {
		margin-left: @dropdown-toggle-spacing;
		margin-right: @dropdown-toggle-spacing;
	}

	.main-navigation .sub-menu .dropdown-toggle {
		padding-left: @dropdown-toggle-spacing;
		padding-right: @dropdown-toggle-spacing;
		margin: 0;
	}


	.secondary-navigation .sub-menu .dropdown-toggle {
		&:hover,
		&:focus {
			background-color: fade(#000, 30%);
		}

		&:after {
			color: @gray-lighter;
		}
	}

}


// =============================================================================
// No-javascript fallback for the navigations
// =============================================================================

.no-js .site-navigation .menu-list-container,
.no-js .site-navigation .search-form {
	display: block;
}

.no-js .menu-toggle {
	display: none;
}
