/* =============================================================================
   Layout:  Theme Layouts
   ========================================================================== */


// Default layout: Two columns (content | sidebar)
// =============================================================================

.site-main {
	position: relative;
	width: @width-main;
	float: left;
}

.sidebar-primary,
.sidebar-secondary {
	width: @width-secondary;
	float: right;
}

.sidebar-secondary {
	clear: right;
}

@media screen and (max-width: 1080px) {
	.site-main {
		width: 65%;
	}

	.sidebar-primary,
	.sidebar-secondary {
		width: 32%;
	}
}

// Make the main content full width and move the sidebars underneath it.
@media screen and (max-width: 768px) {
	.site-main {
		width: 100%;
		float: none;
	}

	.sidebar-primary,
	.sidebar-secondary {
		width: 48%;
	}

	.sidebar-primary {
		float: left;
	}

	.sidebar-secondary {
		float: right;
	}
}


// Layout: Two columns (sidebar | content)
// =============================================================================

.layout-2c-r {
	.site-main {
		float: right;
	}

	.sidebar-primary,
	.sidebar-secondary {
		float: left;
		clear: left; // make sure the sidebars are under each other
	}

	// Sidebars in two columns
	@media screen and (max-width: 768px) {
		.site-main {
			float: none;
		}

		.sidebar-secondary {
			float: right;
			clear: none;
		}
	}
}


// Layout: One column (sidebar | content)
// =============================================================================

.layout-1c .site-main {
	float: none;
	width: 100%;
}

/* Make sure the front page layout doesn't get overwritten if changing global layout in the Customizer */
body.page-template-template-front-page .site-main {
	&:extend(.layout-1c .site-main);
	margin: 0;
}


// Layout: Three columns
// =============================================================================

.layout-3c-c,
.layout-3c-r,
.layout-3c-l {
	.site-main {
		width: @three-col-main-width;
	}

	.sidebar-primary,
	.sidebar-secondary {
		width: @three-col-sidebar-width;
		clear: none; // overwrites the default clear to the sidebars can be next to each other
	}
}


/* Three columns, center */
.layout-3c-c {
	.site-main {
		float: left;
		width: @three-col-main-width;
  		margin-left: ( @three-col-main-width / 2 );
	}

	.sidebar-primary {
		float: left;
		margin-left: ( -(@three-col-main-width + @three-col-sidebar-width + @gutter-width) ); // -765px
	}

	.sidebar-secondary {
		float: right;
		margin-right: ( -(@gutter-width-small - 10px) );
	}
}

/* Three columns, left */
.layout-3c-l {
	.site-main {
		float: left;
	}

	.sidebar-primary,
	.sidebar-secondary {
		float: left;
		margin-left: @gutter-width-small;
	}

	.sidebar-primary {
		margin-left: @gutter-width;
	}

	.sidebar-secondary {
		margin-right: ( -(@gutter-width-small - 10px) );
	}
}

/* Three columns, right */
.layout-3c-r {
	.site-main {
		float: right;
	}

	.sidebar-primary,
	.sidebar-secondary {
		float: left;
		margin-right: @gutter-width-small;
	}

	.sidebar-primary {
		margin-left: ( -(@gutter-width-small - 10px) );
	}
}
