/* =============================================================================
   Content:  Attachment pages
   ========================================================================== */

.attachment .byline {
	.image-size-link:before {
		.icon('\f402', 3px);
	}

	.sep {
		margin: 0 3px;
	}
}

.attachment-info {
	float: left;
	width: 35%;

	.media-meta {
		.no-list-style();
	}

	li {
		.clearfix();
		border-bottom: 1px solid @post-border-color;
		padding: 5px;
	}

	.prep {
		font-weight: 700;
		float: left;
	}

	.data {
		float: right;
		text-align: right;
	}
}

.attachment-gallery {
	float: right;
	width: 60%;

	.gallery-caption {
		display: none;
	}
}
