
/**
 * Intro
 */

.intro-post {
	margin-bottom: (@gutter-width * 1.5);

	.entry-content {
		.font-size(@headings-size-small);
	}

	.post-edit-link {
		.label-variant();
		position: absolute;
		top: 0;
		right: 0;
	}
}

@import "slider.less";


/* =============================================================================
   Components:  Recent Posts
   ========================================================================== */

.recent-post {
	float: left;
	width: 220px;
	margin-right: @gutter-width;
	transition: opacity 220ms;

	&:last-of-type {
		margin-right: 0;
	}

	.entry-header {
		margin: 10px 0;
	}

	.entry-title {
		.font-size(@font-size-large);
		letter-spacing: 0;
		word-wrap: break-word;
	}

	.more-link {
		display: block;
		margin-top: 5px;
	}

	.recent-posts-meta {
		.font-size(@font-size-mini);
		line-height: 1.2;
		font-style: italic;
		color: darken(@gray-light, 5%);
	}

	.thumbnail {
		float: none;
		max-height: 150px; // image height
		margin: 0;
	}
}

// Lower opacity on every column except the hovered
.recent-post-columns:hover .recent-post {
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}


@media screen and (max-width: 1080px) {
	.recent-post {
		width: 23%;
		margin-right: 2%;
	}
}

// Show Recent Posts in one column
@media screen and (max-width: 980px) {

	.recent-post {
		.clearfix();
		float: none;
		width: 100%;
		padding: @gutter-width-small 0;
		border-bottom: 1px solid @post-border-color;
		margin-right: 0;

		&:hover,
		&:active {
			background-color: @highlight-bg;
		}

		.entry-header {
			margin-top: 0;
		}

		.entry-title {
			margin-bottom: 5px;
		}

		.thumbnail {
			float: left;
			width: 25%;
			max-width: 220px; // thumbnail width
			margin-right: 5%;
		}

		// Makes sure that some of the text doesn't go under the image
		.entry-header,
		.entry-summary {
			float: left;
			width: 70%;
		}
	}

	// Don't change opacity
	.recent-post-columns:hover .recent-post {
		opacity: 1;
	}

}

@media screen and (max-width: 480px) {

	.recent-post {
		padding: @gutter-width-small;

		.entry-header,
		.entry-summary {
			width: 100%;
		}

		.thumbnail {
			display: none;
		}
	}

}


/* =============================================================================
   Components:  Headlines Lists
   ========================================================================== */

.headline-columns {
	margin: @gutter-width 0;

	.widget-title {
		margin-bottom: 15px;
	}
}

.headline-list {
	float: left;
	width: @headline-box-width;
	margin: 0 (@gutter-width + 20px) @gutter-width 0;

	&:nth-child(@{headline-box-count}n) {
		margin-right: 0;
	}

	&:nth-child(@{headline-box-count}n+1) {
		clear: left;
	}

	ol {
		.no-list-style();
	}

	.headline-item {
		padding: @gutter-width-small 20px;
		border-bottom: 1px solid darken(@gray-lighter, 5%);
		line-height: @line-height-base;

		&:hover,
		&:active {
			background-color: @highlight-bg;
			background-image: linear-gradient(to right, lighten(@highlight-bg, 1%) 50%, @highlight-bg);
		}
	}

	.entry-title {
		margin: 0;
		.font-size(@font-size-large);
	}

	.headline-meta {
		.font-size(@font-size-small);
		font-style: italic;
		color: darken(@gray-light, 5%);
	}

	.thumbnail {
		float: left;
		margin: 0 @gutter-width-small 0 0;
	}
}
