/* ============================================================================
   Content:  Front page template
   ========================================================================== */

.intro-post {
	margin-bottom: (@gutter-width * 1.5);

	.entry-content {
		.font-size(@headings-size-small);
	}

	.post-edit-link {
		.label-variant();
		position: absolute;
		top: 0;
		right: 0;
	}
}

@import "../components/slider.less";
@import "../components/recent-posts.less";
@import "../components/headline-lists.less";
