/* =============================================================================
   Content:  Posts
   ========================================================================== */

.hentry {
	position: relative;
	padding-bottom: @gutter-width-small;
	border-bottom: 4px double @post-border-color;
	margin-bottom: @gutter-width;

	.singular & {
		padding-bottom: 0;
		border-bottom-width: 0;
	}
}

.sticky {
	padding: @gutter-width-small;
	background: @highlight-bg-secondary;
	border-bottom-color: @separator-border-color;
	margin-top: (-@gutter-width);
}


/*
 * Entry header
 */
.entry-header {
	margin-bottom: @gutter-width-small;
}

.entry-title {
	.font-size(@headings-size-large);
	margin: 0 0 10px 0;
}


/*
 * Entry content
 */
.entry-content,
.entry-summary {
	hyphens: auto;
	word-wrap: break-word;
}


/*
 * Entry meta
 */
.byline,
.entry-meta {
	.font-size(@font-size-medium);
	color: @post-meta-color;
	clear: both;
}

.entry-meta {
	margin-top: @gutter-width;
}

.singular .entry-meta {
	padding-top: 15px;
	border-top: 1px solid @post-border-color;
	margin: @gutter-width 0;
}
