/* =============================================================================
   Content:  Widgets
   ========================================================================== */

.widget {
	margin-bottom: @gutter-width-small;
	word-wrap: break-word;
	hyphens: auto;
}

/**
 * Calendar
 */
#wp-calendar {
	th, td {
		.font-size(@font-size-small);
		padding: 4px;
		text-align: center;

		.layout-3c-c &,
		.layout-3c-l &,
		.layout-3c-r & {
			padding: 2px;
		}
	}
}

/**
 * Related Posts widget
 */

.related-posts .with-thumbnails {
	.no-list-style();
	margin-left: 20px;

	.sidebar-after-singular &,
	.sidebar-after-single & {
		margin-left: 0;
	}

	.related-post {
		float: left;
		.square(110px);
		border: 1px solid @related-post-border;
		margin: 0 @gutter-width-small @gutter-width-small 0;
		background: @related-post-bg;
		border-radius: 3px;

		&:hover {
			background: @related-post-hover-bg;
			border-color: @related-post-hover-border;
			box-shadow: 0 2px 0 @related-post-hover-border;
			color: @related-post-hover-text;
			text-shadow: 0 1px 0 lighten(@related-post-hover-bg, 15%);
		}

		&:nth-of-type(5n) {
			margin-right: 0;
		}

		> a {
			display: block;
			overflow: hidden;
			.square(100%);
			padding-top: 4px;
			text-align: center;
			word-wrap: break-word;
			hyphens: auto;

			&:hover {
				color: @related-post-hover-text;
			}
		}

		img {
			box-shadow: none;
		}

		span {
			.font-size(@font-size-mini);
		}
	}
}


/* =============================================================================
   Widget:  Search form
   ========================================================================== */

.search-form {
	label {
		margin: 0;
		position: relative;

		// Search icon
		&:before {
			&:extend(.genericon);
			content: '\f400';
			color: @gray-light;
			position: absolute;
			left: 8px;

			// Vertically center the icon
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.search-field {
		padding-left: 28px;
		margin-bottom: 0;
	}

	.search-submit.screen-reader-text {
		width: 1px;
	}
}


// Search form in the topbar
// =============================================================================

.main-navigation .search-form {

	.search-field {
		background-color: @gray;
		background-color: fade(#fff, 20%);
		border: 1px solid #000;
		box-shadow:
			inset 0 1px 2px fade(#000, 10%),
			0 1px 0px fade(#fff, 20%);
		color: #fff;
		color: fade(#fff, 80%);

		// Give the input placeholder a lighter colour
		.placeholder( @topbar-search-placeholder, -1px -1px 0 fade(#000, 30%) );
	}

	// The search icon
	label:before {
		color: @topbar-search-placeholder;
	}

}


@media screen and (min-width: 980px) {

	.main-navigation .search-form {
		float: right;
		margin-top: 12px;
	}

}

@media screen and (max-width: 979px) {

	.main-navigation .search-form {
		margin-top: (-@gutter-width-small);
		padding: @gutter-width-small @gutter-width;

		// Increase search field size
		.search-field {
			.font-size(@font-size-base);
			padding: 20px 0 20px 40px;
		}

		label:before {
			.font-size(21);
			left: 12px;
		}
	}


}
