/* =============================================================================
   Components:  Breadcrumbs
   ========================================================================== */

.breadcrumbs {
	background: @breadcrumb-bg;
	border-bottom: 1px solid darken(@breadcrumb-bg, 5%);
	border-radius: 3px;
	#font > .shorthand(@font-size-medium, normal, normal);
	margin-bottom: @gutter-width-small;
	padding: 16px 15px;

	a {
		color: @gray-dark;

		&:hover {
			color: @link-color-hover;
		}
	}

	.trail-begin a:before {
		.icon('\f409', -3px, 1px);
	}

	.sep:before {
		.icon('\f431', 3px, 0);
		margin-left: 3px;

		// using the expand icon and rotating it because genericon doesn't do that
		// https://github.com/Automattic/Genericons/issues/55
		transform: rotate(-90deg);
	}
}
