/* =============================================================================
   Components:  Pagination
   ========================================================================== */

.pagination,
.post-navigation,
.page-links {
	margin: @gutter-width 0;

	a,
	> span, // used in .page-links
	.current {
		display: inline-block;
		padding: 13px 14px 12px;
		margin-right: 2px;
		line-height: normal;
		background-color: @pagination-bg;
		box-shadow: 0 2px 0 darken(@pagination-bg, 15%);
		border-radius: 3px;
		color: darken(@gray, 5%);
		text-shadow: 0 1px 0 #fff;
		transition: all 150ms ease;
	}

	a:hover {
		background-color: @pagination-hover-bg;
		box-shadow: 0 2px 0 @pagination-hover-border;
		color: @pagination-hover-text;
		text-shadow: 0 1px 0 lighten(@pagination-hover-bg, 20%);
	}

	a:active {
		box-shadow:
			0 2px 0 @pagination-hover-border,
			inset 2px 2px 8px fade(#000, 30%);
	}

	> span,
	.current {
		background-color: lighten(@gray-dark, 10%);
		box-shadow: 0 2px 0 #000;
		color: #fff;
		text-shadow: 0 -1px 0 #000;
	}
}


/*
 * Post pagination
 */
.page-links {
	clear: both;
}

.page-links a,
.page-links > span {
	padding: 8px 12px;
	margin-right: 5px;
}

.page-links > .page-links-title {
	color: @post-meta-color;
	padding-right: 8px;

	// overwrite span styles because the current page doesn't have its own class
	background: none;
	padding-left: 0;
	border: 0;
	margin: 0;
}


/*
 * Prev/next post navigation
 */
.post-navigation {
	.clearfix();

	.nav-previous,
	.nav-next {
		max-width: 49%;
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}
}


/* Hide pagination when Jetpack Infinite Scroll is active */
.infinite-scroll .pagination,
.infinite-scroll .loop-pagination {
	display: none;
}
