/* =============================================================================
   Widget:  Search form
   ========================================================================== */

.search-form {
	// Use Flexbox to make the inputs share the available space
	display: flex;

	> label {
		flex: 4; // take up 4 columns
		display: inline-block;
		margin: 0;
		position: relative;

		// Search icon
		&:before {
			&:extend(.genericon);
			content: '\f400';
			color: @gray-light;
			position: absolute;
			left: 8px;

			// Vertically center the icon
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.search-field {
		padding-left: 28px;
		margin-bottom: 0;
	}

	.search-submit {
		flex: 1; // take up 1 column
		margin-left: 5px;
	}

	// Makes sure there's enought room for the submit button
	@media screen and (max-width: 979px) {
		> label {
			flex: 3;
		}
	}
}


// Search form in the topbar
// =============================================================================

.main-navigation .search-form {

	.search-field {
		background-color: @gray;
		background-color: fade(#fff, 20%);
		border: 1px solid #000;
		box-shadow:
			inset 0 1px 2px fade(#000, 10%),
			0 1px 0px fade(#fff, 20%);
		color: #fff;
		color: fade(#fff, 80%);

		// Give the input placeholder a lighter colour
		.placeholder( @topbar-search-placeholder, -1px -1px 0 fade(#000, 30%) );
	}

	// The search icon
	label:before {
		color: @topbar-search-placeholder;
	}


	@media screen and (min-width: 980px) {
		float: right;
		margin: 12px 0;

		// Hide the search submit button
		.search-submit {
			.screen-reader-text();
		}
	}

	@media screen and (max-width: 979px) {
		margin-top: (-@gutter-width-small);
		padding: @gutter-width-small @gutter-width;

		// Increase search field size
		.search-field {
			.font-size(@font-size-base);
			padding: 20px 0 20px 40px;
		}

		.search-submit {
			border: 1px solid #000;
		}

		label:before {
			.font-size(21);
			left: 12px;
		}
	}

}
