/* =============================================================================
   Component:  Slider
   ========================================================================== */

.cakifo-slider {
	position: relative;
	background-color: @slider-bg-color;
	border-bottom: 4px double @slider-border-color;

	margin: (-@gutter-width); // because of padding on .site-content
	padding: @gutter-width; // same padding as .site-content
	margin-bottom: @gutter-width;
	padding-bottom: @gutter-width-small;

	@media screen and (max-width: 980px) {
		padding-left: @gutter-width-small;
		padding-right: @gutter-width-small;
		margin-left: ( -@gutter-width-small );
		margin-right: ( -@gutter-width-small );
	}
}

.flex-viewport {
	min-height: 233px; // image height + image bottom margin
}

.slide {
	// Hide the slides before the JS is loaded to avoid page jumping
	display: none;
	backface-visibility: hidden;
	position: relative;

	.thumbnail {
		float: left;
		max-width: 100%;
		margin: 0 @gutter-width 3px 3px; // 3px makes sure that the whole box-shadow can be seen and doesn't leak into the previously slide
	}

	@media screen and (max-width: 900px) {
		.thumbnail {
			max-width: 55%;
			margin-right: @image-spacing;
		}
	}

	@media screen and (max-width: 768px) {
		.thumbnail {
			max-width: 30%;
			float: right;
			margin: @gutter-width 3px @image-spacing 4%;
		}

		a + .entry-summary {
			max-width: 65%;
			float: left;
		}
	}

	@media screen and (max-width: 600px) {
		.thumbnail {
			display: none;
		}

		a + .entry-summary {
			max-width: 100%;
			float: none;
		}
	}
}


/* Slider pagination */
.flex-control-paging {
	.no-list-style();
	margin: @gutter-width auto 0 auto;
	text-align: center;

	li {
		display: inline-block;
		margin-left: 7px;
		line-height: normal;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		display: block;
		.square(@slider-pagination-size);
		background-color: @slider-pagination-color;
		border-radius: 50%;
		text-indent: -9999px;
		cursor: pointer;
		transition: all 150ms ease;

		&:hover {
			background-color: @slider-pagination-color-hover;
			text-decoration: none;
		}
	}

	.flex-active,
	.flex-active:hover {
		background-color: @slider-pagination-color-active;
		cursor: default;
		transform: scale(1.07);
	}
}


/* Pause/play buttons */
.flex-pauseplay {
	position: absolute;
	bottom: @gutter-width-small;
	right: @gutter-width;

	a {
		cursor: pointer;
	}

	.flex-pause:before {
		.icon('\f448'); // pause
	}

	.flex-play:before {
		.icon('\f452'); // play
	}

	@media screen and (max-width: 980px) {
		right: @gutter-width-small;
	}
}


/* Next/prev buttons */
.flex-direction-nav {
	.no-list-style();

	a {
		position: absolute;
		top: 50%;
		transform: translateY(-50%); // Centers the buttons
		.square(@slider-navigation-size);
		background-color: @slider-navigation-color;
		border-radius: 50%;
		box-shadow: 0 0 7px fade(#000, 30%);
		text-indent: -9999px; // Hide the text
		transition: all 200ms ease;
		opacity: 0;
		will-change: transform;

		&:after {
			&:extend(.genericon);
			.font-size(48);
			.square(100%);

			position: absolute;
			z-index: 10;
			top: 6px;

			color: @gray;
			text-align: center;
			text-indent: 0;
		}

		&:hover {
			background-color: @slider-pagination-color;
			text-decoration: none;

			&:after {
				color: @gray-dark;
			}
		}

		&:focus {
			background-color: @slider-pagination-color-active;
			outline: 0;
		}

		&:active {
			box-shadow:
				inset 1px 1px 10px fade(#000, 50%),
				0 0 7px fade(#000, 30%);
		}

		// Reveal buttons when the slider is hovered
		.cakifo-slider:hover & {
			opacity: 1;
		}
	}

	// Previous button
	.flex-prev {
		left: 0;
		transform: translateX((-@gutter-width * 1.5)) translateY(-50%);

		.cakifo-slider:hover & {
			transform: translateX((-@gutter-width)) translateY(-50%);
		}

		&:after {
			content: '\f430'; // previous arrow
			left: -1px;
		}
	}

	// Next button
	.flex-next {
		right: 0;
		transform: translateX((@gutter-width * 1.5)) translateY(-50%);

		.cakifo-slider:hover & {
			transform: translateX(@gutter-width) translateY(-50%);
		}

		&:after {
			content: '\f429'; // next arrow
			left: 1px;
		}
	}

	// Disabled button
	.flex-disabled {
		cursor: default;
		opacity: 0;
	}


	/* Reveal the buttons on smaller screens */
	@media screen and (max-width: 1170px) {
		.flex-prev,
		.flex-next {
			top: auto;
			bottom: -15px;
			opacity: 1;
		}

		.flex-prev {
			&,
			.cakifo-slider:hover & {
				left: @gutter-width;
				transform: translateY(-50%);
			}
		}

		.flex-next {
			&,
			.cakifo-slider:hover & {
				right: @gutter-width;
				transform: translateY(-50%);
			}
		}
	}

	@media screen and (max-width: 980px) {
		.flex-prev {
			&,
			.cakifo-slider:hover & {
				left: @gutter-width-small;
			}
		}

		.flex-next {
			&,
			.cakifo-slider:hover & {
				right: @gutter-width-small;
			}
		}
	}
}


/**
 * Non-javascript fallback
 *
 * Hides all slides except the first
 */
.no-js .slides-container > .slide {
	display: none;

	&:first-child {
		display: block;
	}
}
